Repository quicwg/base-drafts, pull requests merged in 2018-06, with the labels that each got.

#1407 Add missing words
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#1403 Seek more clarity on Largest Reference/Base Index encoding
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1402 Set TLS extension codepoint to 0xffa5
  draft-ietf-quic-tls.md
Labels: -tls, design

#1418 Add PUSH_PROMISE xref
  draft-ietf-quic-http.md
Labels: -http, editorial

#1398 Remove Flags
  draft-ietf-quic-http.md
Labels: -http, design

#1419 Remove sequence number from NEW_CONNECTION_ID
  draft-ietf-quic-transport.md
Labels: -transport

#1437 Don't cite octet indices any more
  draft-ietf-quic-transport.md
Labels: editorial

#1427 Move Draft Version Identification section
  draft-ietf-quic-http.md
Labels: -http, editorial

#1411 What if invariants change?
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#1423 Coalescing guidance
  draft-ietf-quic-transport.md
Labels: -transport, design

#1444 Expand Primitives section
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1441 Statement of idempotency
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1410 Describe QPACK Feedback mechanisms
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#1453 Expand CID ratchet text
  draft-ietf-quic-transport.md
Labels: -transport, design

#1469 Decoder MAY error on an incorrect largest reference
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#1472 Modify codepoints on decoder and request/push streams for consistency
  draft-ietf-quic-qpack.md
Labels: -qpack

#1446 Grease values in HTTP/QUIC
  draft-ietf-quic-http.md
Labels: -http, editorial

#1465 Restore CID sequence numbers
  draft-ietf-quic-transport.md
Labels: -transport, design

#1467 Define the contents of QPACK Encoder and Decoder streams
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#1447 TP to disable migration
  draft-ietf-quic-transport.md
Labels: -transport, design

#1473 Extension frames
  draft-ietf-quic-transport.md
Labels: -transport

#1485 Rescue PR 930
  draft-ietf-quic-tls.md
Labels: editorial

#1359 Unidirectional Stream Headers in HTTP
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -http, -qpack, design

#1503 Server push tidy up
  draft-ietf-quic-http.md
Labels: -http, editorial
