Repository quicwg/base-drafts, pull requests merged in 2018-03, with the labels that each got.

#1077 Refactor key schedule
  draft-ietf-quic-tls.md
Labels: editorial

#1149 Need to include valeus for the TLS 1.3 colum in the TLS ExtensionType…
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#1152 minor editorial fixes
  draft-ietf-quic-transport.md
Labels: editorial

#1155 Update changelog for -10
  draft-ietf-quic-http.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#1139 Generating Acknowledgements
  draft-ietf-quic-recovery.md
Labels: -recovery

#1160 fix busted link to HEADER_ACK section
  draft-ietf-quic-http.md
Labels: -http, editorial

#1156 Explain that decryption for unsupported versions is likely to fail
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1170 Explicit Congestion Window Limit
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#1179 Enter closing after the idle timeout
  draft-ietf-quic-transport.md
Labels: -transport

#1164 Rename QCRAM to QPACK
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -qcram

#1151 Symmetric connection IDs
  draft-ietf-quic-invariants.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -invariants, -transport

#1183 Client Intial to client Initial
  draft-ietf-quic-transport.md
Labels: editorial

#1167 Move version
  draft-ietf-quic-invariants.md
  draft-ietf-quic-transport.md
Labels: -invariants, -transport

#1195 Making quic-recovery self-contained
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#1198 Invariants are IP-version-independent
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#1204 App and transport errors
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1200 Remove discussion of entry overhead
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#1207 Initial SETTINGS values
  draft-ietf-quic-http.md
Labels: -http

#1057 Remove cross-protocol resumption
  draft-ietf-quic-tls.md
Labels: -tls

#1215 Remove confusing text about ports
  draft-ietf-quic-http.md
Labels: -http

#1216 Don't imply that Version Negotiation is always sent
  draft-ietf-quic-invariants.md
Labels: -invariants

#1210 Improve Push text
  draft-ietf-quic-http.md
Labels: -http, editorial

#1241 allow asymmetry of versions
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#1236 Clarify suggested algorithm for handling QPACK acknowledgements
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1222 Only pace retransmittable packets
  draft-ietf-quic-recovery.md
Labels: -recovery
