Repository quicwg/base-drafts, pull requests merged in 2018-11, with the labels that each got.

#1943 Remove error handling from the early stream description
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1939 What packet information to track and send
  draft-ietf-quic-recovery.md
Labels: -recovery

#1946 Renumber transport parameters
  draft-ietf-quic-transport.md
Labels: -transport

#1945 Renumber frames
  draft-ietf-quic-transport.md
Labels: -transport

#1947 Use varints for transport parameter values
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -transport, design

#1960 Late alarms and max_ack_delay
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1956 Restore "What packet information to track and send (#1939)"
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#1962 Time based to Time threshold in Recovery
  draft-ietf-quic-recovery.md
Labels: editorial

#1988 Add spin bit to transport draft
  draft-ietf-quic-spin-exp.md
  draft-ietf-quic-transport.md
Labels: -transport, design

#1963 Reorder the NEW_CONNECTION_ID frame
  draft-ietf-quic-transport.md
Labels: -transport

#1973 Rename HTTP/QUIC to HTTP/3
  draft-ietf-quic-http.md
Labels: -http, editorial, merge-imminent

#1925 define HTTP_UNEXPECTED_GOAWAY
  draft-ietf-quic-http.md
Labels: -http, editorial

#2000 Discard, but don't retire, excess connection IDs
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1970 Update the salt in preparation for -17
  draft-ietf-quic-tls.md
Labels: -tls

#2001 Refine minimum DCID length of Initial
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2011 Use TLS abbreviation
  draft-ietf-quic-tls.md
Labels: editorial

#2016 remove a duplicate sentence in the stateless reset section
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2017 allow retiring of all stateless reset tokens
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2013 STOP_SENDING opens streams
  draft-ietf-quic-transport.md
Labels: -transport, design

#2020 Update to RFC4303, which is not obsolete
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2027 Move ack generation out of loss detection
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#1991 Separation for leaf keys only
  draft-ietf-quic-tls.md
Labels: -tls, design

#2006 First byte changes
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -transport, design

#1852 WIP: Reorganize QPACK
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2031 Servers can't migrate. Period.
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2037 Fix typo: doubled word
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2030 Pad rather than shift the header protection offset
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, design

#2042 QPACK: update language to use HTTP/3
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2055 fix packet number decoding example
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2029 Don't allow use of AEAD_AES_128_CCM_8
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2040 Reset connection state on retry and VN
  draft-ietf-quic-recovery.md
Labels: -recovery

#2057 Move NUM_PLACEHOLDERS out of the HTTP/2-used space
  draft-ietf-quic-http.md
Labels: -http, editorial

#2038 Default settings in HTTP
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -http, design

#1996 Fix QPACK error listing: need blank lines between entries
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2036 Rewrite Packet Size section
  draft-ietf-quic-transport.md
Labels: -transport, design

#2003 Interaction of FIN and message parsing
  draft-ietf-quic-http.md
Labels: -http, design

#2056 Prohibit clients from declaring placeholders
  draft-ietf-quic-http.md
Labels: -http, editorial

#2069 Don't let the PMTU drop below 1280
  draft-ietf-quic-transport.md
Labels: -transport

#2070 Remove paragraph talking about retaining DCID
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2073 Clarify sentence describing a misrouted Stateless Reset
  draft-ietf-quic-transport.md
Labels: -transport, editorial
