Repository quicwg/base-drafts, pull requests merged in 2018-05, with the labels that each got.

#1079 Packet number encryption
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport

#1251 Server's preferred address
  draft-ietf-quic-transport.md
Labels: -transport, merge-imminent

#1341 Editorial changes
  draft-ietf-quic-http.md
Labels: -http, editorial

#1352 Boilerplate and Conventions
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1349 Consistency in name change
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1143 QPACK Blocking Setting
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -qpack

#1353 Octets that are sent twice
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1345 Narrow lint target to just the drafts
  Makefile
Labels: editorial

#1360 Add changelog entries for -12
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-transport.md
Labels: editorial

#1368 Make Handshake packet use more explicit
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1375 Cite QUIC-HTTP properly
  draft-ietf-quic-qpack.md
Labels: editorial

#1369 Reword linkability on migration text
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1378 Explain what packet protection means
  draft-ietf-quic-transport.md
Labels: editorial

#1379 Use tilde instead of backticks, again
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#1346 Stateless reset fixes
  draft-ietf-quic-transport.md
Labels: -transport

#1384 Update Buck's contact info
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1358 Move setting registrations into QPACK
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -http, -qpack, editorial

#1366 Adds subheadings for post-base instructions
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1389 Make the packet number encryption sampling clearer
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport

#1392 Remove paragraph on short packet type
  draft-ietf-quic-transport.md
Labels: editorial

#1397 Add general protocol error
  draft-ietf-quic-http.md
Labels: -http, design

#1401 Dynamic table resize doesn't get acknowledged
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial
