Repository quicwg/base-drafts, pull requests merged in 2018-07, with the labels that each got.

#1499 Correct a contradiction
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#1497 Fix references
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1501 Define NAT rebinding better
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1522 Use APPLICATION_CLOSE for hq errors
  draft-ietf-quic-http.md
Labels: -http, editorial

#1519 Grease the reserved bits
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1500 Comment about notational conventions
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#1527 Frame Type was inconsistently labelled
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1528 Application close
  draft-ietf-quic-transport.md
Labels: -transport

#1516 Discuss headers in more detail
  draft-ietf-quic-http.md
Labels: -http, editorial

#1525 Tolerate unknown stream types, add greasing
  draft-ietf-quic-http.md
Labels: -http, design

#1526 Add extensibility section
  draft-ietf-quic-http.md
Labels: -http, editorial

#1543 Fix: relative indices cannot be used with static table
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1532 Move HTTP_*PACK_COMPRESSION_FAILED to QPACK
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1542 Split initial MAX_STREAM_DATA transport parameters
  draft-ietf-quic-transport.md
Labels: -transport, design

#1585 Fix: ACKs permit encoder to evict, not to avoid eviction
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1607 STREAM -> CRYPTO
  draft-ietf-quic-tls.md
Labels: -transport, editorial

#1512 Tweak TLS API
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#1548 Datagram 1200
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, editorial

#1557 Add Definitions
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#1554 Stateless reset oracle defense
  draft-ietf-quic-transport.md
Labels: -transport

#1498 Rework Retry packet
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -transport

#1514 Permit 0-RTT after Retry and VN
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -transport

#1552 Allow Retry in response to 0-RTT packets
  draft-ietf-quic-transport.md
Labels: -transport, design

#1611 Use largest acknowledged consistently
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial
