Repository quicwg/base-drafts, pull requests merged in 2018-09, with the labels that each got.

#1707 Headers and header fields
  draft-ietf-quic-http.md
Labels: -http, editorial

#1712 Discuss HTTP/QUIC Connection Closure
  draft-ietf-quic-http.md
Labels: -http, editorial

#1725 Require that QPACK preserves header field order.
  draft-ietf-quic-qpack.md
Labels: -qpack

#1726 Define three QPACK error types, refine error handling.
  draft-ietf-quic-qpack.md
Labels: -qpack

#1735 Stateless reset is now available to both peers
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1730 Bundle new client connection ID and path challenge in migration probes
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1237 Clarify QPACK eviction races
  draft-ietf-quic-qpack.md
Labels: -qpack

#1769 Permit closing frames in all packets
  draft-ietf-quic-transport.md
Labels: -transport

#1788 Most the Retry-related fixes
  draft-ietf-quic-transport.md
Labels: -transport

#1789 Make intro more accessible
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1781 Add max_ack_delay transport parameter and ACK every two packets
  draft-ietf-quic-transport.md
Labels: -transport

#1798 Remove EOED v2
  draft-ietf-quic-tls.md
Labels: -tls

#1792 Remove EndOfEarlyData from TLS
  draft-ietf-quic-tls.md
Labels: -tls

#1793 The server needs to acknowledge that a Retry happened
  draft-ietf-quic-transport.md
Labels: -transport, design

#1761 QPACK: don't send stream cancellation when SETTINGS_HEADER_TABLE_SIZE=0
  draft-ietf-quic-qpack.md
Labels: -qpack

#1762 QPACK: make TSS=0 a connection error
  draft-ietf-quic-qpack.md
Labels: -qpack

#1806 Recommend non-zero values for footgun TPs
  draft-ietf-quic-http.md
Labels: -http, editorial

#1808 Error for missing SETTINGS frame
  draft-ietf-quic-http.md
Labels: -http, design
