Repository quicwg/base-drafts, pull requests merged in 2018-04, with the labels that each got.

#1214 Change CID after inactivity
  draft-ietf-quic-transport.md
Labels: -transport

#1254 Remove unnecessary text from #1253
  draft-ietf-quic-transport.md
Labels: -transport

#1268 Provide a linkage between key and <role>_pp_<key|iv>_<i>
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#1231 Restrict ACK-clocking to ACK-only frames.
  draft-ietf-quic-transport.md
Labels: -transport

#1269 Change the UDP port sometimes too
  draft-ietf-quic-transport.md
Labels: -transport, design

#1141 Separate instruction sets for QCRAM
  draft-ietf-quic-qpack.md
Labels: -qpack

#1316 remove incorrect statement about the connection ID in server packet
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1310 s/initial_max_stream_id_(uni|bidi)/initial_max_streams_$1/g
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1308 Fix things that make ID-Nits hiccup
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1314 Better Indexing in QPACK
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#1320 QPACK One-Pass Encoding, Redux
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#1326 QPACK: remove explanation about header block diffs
  draft-ietf-quic-qpack.md
Labels: -qpack
