Repository quicwg/base-drafts, pull requests merged in 2018-10, with the labels that each got.

#1807 Simplify SETTINGS payload
  draft-ietf-quic-http.md
Labels: -http, design

#1355 QPACK: Updated Static Table
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#1763 QPACK: Encode Largest Reference modulo MaxEntries
  draft-ietf-quic-qpack.md
Labels: -qpack

#1823 Remove QUIC_FLOW_CONTROL_RECEIVED_TOO_MUCH_DATA
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1794 Include a token on all Initial packets
  draft-ietf-quic-transport.md
Labels: -transport

#1829 Sequence for Connection IDs, RETIRE
  draft-ietf-quic-transport.md
Labels: -transport, design

#1868 Fix ID-15 changelog: idle timeout was made optional by PR #1765
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1862 Amplification limit in recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#1883 Escape single quotes in static table
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1887 Remove some excessive nesting from reorg
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1888 Consolidate connection ID negotiation section with prior text
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1886 Move and consolidate address validation
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1899 The "quic " label is used for key update
  draft-ietf-quic-tls.md
Labels: -tls

#1890 Specify the packets that carry closing frames
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1907 Don't recommend stateless reset
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1911 Don't amplify accidentally when closing
  draft-ietf-quic-transport.md
Labels: -transport

#1923 Try to clarify interaction of PADDING and ACK
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1910 Fix references
  draft-ietf-quic-http.md
  draft-ietf-quic-tls.md
Labels: -http, -tls, editorial

#1913 Clarify ECN counters
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1926 Cite limitations on key usage
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#1915 There are *Two* control streams
  draft-ietf-quic-http.md
Labels: -http, editorial

#1929 Connection IDs can change twice
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1916 Relax 1200B requirement for Initial ACKs/Retx
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1922 Stop reserving application error codes
  draft-ietf-quic-http.md
  draft-ietf-quic-transport.md
Labels: -http, -transport, design

#1938 Errors for bad stream-related frames
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1906 Define stream limits as counts
  draft-ietf-quic-transport.md
Labels: -transport, design

#1900 One close frames
  draft-ietf-quic-http.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -http, -tls, -transport

#1934 Replace ack_only with retransmittable
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial
