Repository quicwg/base-drafts, pull requests merged in 2018-12, with the labels that each got.

#2074 Initial prioritization of requests
  draft-ietf-quic-http.md
Labels: -http, editorial

#1974 Recovery uses both time and packet thresholds
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2033 Fix for off-path migration attack
  draft-ietf-quic-transport.md
Labels: -transport, design

#2096 NEW_CONNECTION_ID: use sequence number for one CID only
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2005 Avoid having multiple ways to encode Delta Base Index of zero
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#2072 DUPLICATE_PUSH instead of multiple PUSH_PROMISE frames
  draft-ietf-quic-http.md
Labels: -http, design

#2095 Unnecessary variables in recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2098 Allow the HTTP/3 DATA frame to extend to the end of the stream
  draft-ietf-quic-http.md
Labels: -http, design

#2075 Define initial PRIORITY frame and remove exclusive dependencies
  draft-ietf-quic-http.md
Labels: -http, design

#2066 Refactor DetectLostPackets
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2126 Use less ambiguous language wrt PRIORITY on req stream
  draft-ietf-quic-http.md
Labels: -http, editorial

#2128 HTTP: state that placeholders have weight
  draft-ietf-quic-http.md
Labels: -http, editorial

#2064 Amplification attack using retry tokens and spoofed addresses
  draft-ietf-quic-transport.md
Labels: -transport, design, merge-imminent

#2136 Flow control edits
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2107 packet size is header + payload
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2113 Fix to ECN section regarding validation
  draft-ietf-quic-transport.md
Labels: -transport, design

#2139 Changelogs for -17
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -http, -qpack, -recovery, -tls, -transport, editorial

#2177 Allow an endpoint to ignore a badly encoded frame type
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2114 Unify TLP and RTO into Probe Timeout
  draft-ietf-quic-recovery.md
Labels: -recovery, design, merge-imminent, unicorns!!!

#2194 Remove unused kDelayedAckTimeout constant
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2181 Pad to at least 1200 bytes
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2190 fix description of AEAD usage
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2196 Header protection keys don't change
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2117 Ack-eliciting, not inflight
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2102 Fix QPACK-04 changelog: add two non-editorial changes
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2202 Fix Handshake's type number
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2134 Reorder some text around dynamic table size
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2189 Editorial fixes to ECN text
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2183 The first Initial needs to fit into a single IP packet
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2187 Allow alternate restarts after idle
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2108 Clarification and minor addition to ICMP PTB text
  draft-ietf-quic-transport.md
Labels: -transport, design

#2109 Clarify ICMP PTB message validation
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2191 clarify that old keys should always be dropped
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2104 Make in_flight the criterion for declaring loss
  draft-ietf-quic-recovery.md
Labels: -recovery

#2210 fix MUST not in idle period
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2218 Clarify packet number representation
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2236 Omit size on ODCIL
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2239 Don't share addresses without a connection ID
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2215 Don't verify ECN counts for out of order ACKs
  draft-ietf-quic-transport.md
Labels: -transport, design

#2241 Remove PATH_RESPONSE limits
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2242 Use sending and receiving parts for stream states
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2252 Fix RFC number for AEAD in -transport
  draft-ietf-quic-transport.md
Labels: -tls, editorial

#2260 Fix: packet number length is encoded in byte 0
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2272 Fix two typos in the transport draft
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2271 stateless reset packet minimum size is 39 bytes
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2278 Trivial editorial fixes
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, editorial
