Repository quicwg/base-drafts, pull requests merged in 2018-02, with the labels that each got.

#1053 Rework packetization section
  draft-ietf-quic-transport.md
Labels: -transport, merge-imminent

#1054 Tweak send stream figure
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1100 Extract request cancellation from GOAWAY
  draft-ietf-quic-http.md
Labels: -http, merge-imminent

#1117 Integrate QCRAM
  draft-ietf-quic-http.md
  draft-ietf-quic-qcram.md
Labels: -http

#1144 QCRAM opcodes with non-byte-aligned string literals
  draft-ietf-quic-qcram.md
Labels: -qcram
