Repository quicwg/base-drafts, pull requests merged in 2018-08, with the labels that each got.

#1622 An endpoint cannot renege on advertised limits
  draft-ietf-quic-transport.md
Labels: -transport

#1613 Exceptions to packet coalescing
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1632 Fix: a connection is not identified by a *collection*
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1621 Explicitly permit starting over
  draft-ietf-quic-transport.md
Labels: -transport

#1614 Define idle timeout more precisely
  draft-ietf-quic-transport.md
Labels: -transport, design

#1610 make the initial_max_data transport parameter optional
  draft-ietf-quic-transport.md
Labels: -transport

#1627 Defend against endless Stateless Reset ping-pong
  draft-ietf-quic-transport.md
Labels: -transport

#1626 Consequences of bad ECN markings
  draft-ietf-quic-recovery.md
Labels: -recovery

#1624 Duplicates are dropped
  draft-ietf-quic-transport.md
Labels: -transport

#1641 Previous SETTINGS MUST be remembered, can't be reduced for 0-RTT
  draft-ietf-quic-http.md
Labels: -http, design

#1660 Cite RFC 8446 for TLS 1.3
  draft-ietf-quic-spin-exp.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls

#1636 Rules for discarding old keys
  draft-ietf-quic-tls.md
Labels: -tls

#1643 Specify behavior on incomplete requests
  draft-ietf-quic-http.md
Labels: -http, design

#1653 Changelog for -14
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#1652 Use the 'no outstanding' rule to defer idle timeout
  draft-ietf-quic-transport.md
Labels: -transport

#1680 Packets that don't match ARE discarded
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1685 HTTP_VERSION_FALLBACK points to 1.1
  draft-ietf-quic-http.md
Labels: -http, design, merge-imminent

#1682 Pad to 38 if you want a stateless reset
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1642 Initial table size is the maximum permitted when table is first usable
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#1656 Minor editorial fixes.
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1584 Add forward reference to decoder stream; fix another ref to it
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1687 HTTP/QUIC is an abbreviation for "HTTP over QUIC"
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -http, editorial

#1705 Cleanup Initial packet use
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1703 Reconcile 'content' and 'payload'
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1704 Tokens are a mess
  draft-ietf-quic-transport.md
Labels: -transport, design

#1692 Remove redundant word
  draft-ietf-quic-http.md
Labels: -http, editorial

#1663 Limit delayed ack timer to 1 RTT
  draft-ietf-quic-transport.md
Labels: -recovery, design

#1711 Improve description of key derivation
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#1708 Use 'encryption' less often
  draft-ietf-quic-transport.md
Labels: -transport, editorial
