Repository quicwg/base-drafts, pull requests merged in 2019-12, with the labels that each got.

#3225 A day in the life
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3229 Restore other state after a spoofed migration
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3228 Use no_application_protocol more
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3226 Clearer text for application errors
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3139 Packets on one path must not adjust values for a different path
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3107 Immediately close with INVALID_TOKEN
  draft-ietf-quic-transport.md
Labels: -transport, design

#3277 A zero-length Retry Token is invalid
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3196 Semicolons before "see {section}"
  draft-ietf-quic-qpack.md
  draft-ietf-quic-transport.md
Labels: -qpack, -transport, editorial

#3284 Update vectors for draft-25
  draft-ietf-quic-tls.md
  initial-protection.js
Labels: -tls, editorial

#3285 Reword sentence about backoff of CONNECTION_CLOSE
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3263 Key generation for updates MAY be deferred
  draft-ietf-quic-tls.md
Labels: -tls, design

#3208 Recommend H3_NO_ERROR for early responses
  draft-ietf-quic-http.md
Labels: -http

#3224 No reading of 1-RTT before the handshake is complete
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3201 enforce the active_connection_id_limit
  draft-ietf-quic-transport.md
Labels: -transport, design

#3240 SHOULD NOT use a reordering threshold less than 3
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3186 allow CRYPTO_BUFFER_EXCEEDED when overflowing a CRYPTO frame
  draft-ietf-quic-transport.md
Labels: -transport, design

#3170 Allow provisional registrations for all registries
  draft-ietf-quic-http.md
  draft-ietf-quic-transport.md
Labels: -transport, design

#3293 CONNECTION_CLOSE in Handshake too
  draft-ietf-quic-transport.md
  metadata.min.js
Labels: -transport, editorial

#3206 Recommend replacing, not changing, protocol components
  draft-ietf-quic-http.md
Labels: -http, editorial

#3223 RTTVar is not really a variance
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3281 NEW_TOKEN contains globally unique values
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3295 Remove duplicated CONNECTION_CLOSE rules
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3227 Summarize where frames can be used
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3235 HTTP: server may interleave DUPLICATE_PUSH frames as well
  draft-ietf-quic-http.md
Labels: -http, editorial
