Repository quicwg/base-drafts, pull requests merged in 2019-06, with the labels that each got.

#2747 Recommend only one packet per encryption level
  draft-ietf-quic-transport.md
Labels: -transport, design

#2691 Relax requirement of detecting duplicate TPs on receiver
  draft-ietf-quic-transport.md
Labels: -transport

#2733 Allow reuse of stateless reset tokens
  draft-ietf-quic-transport.md
Labels: -transport, design

#2680 Change error codes from 16-bit to varints
  draft-ietf-quic-http.md
  draft-ietf-quic-transport.md
Labels: -transport, design

#2637 Stop requiring remote address to match during path validation
  draft-ietf-quic-transport.md
Labels: -transport, design

#2574 Add normative language for stateless reset
  draft-ietf-quic-transport.md
Labels: -transport

#2461 0-RTT can't use transport parameters or 1-RTT frames
  draft-ietf-quic-transport.md
Labels: -transport, design

#2768 Fix typo: s/overiew/overview/
  draft-ietf-quic-http.md
Labels: -http, editorial

#2757 fix typo
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2750 Don't use ECN if packets are discarded
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2529 Allow not creating QPACK codec streams
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#2767 Drop maximum value restrictions on QPACK settings
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#2751 Enable/disable/coordinate spin per path
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2673 Output of the discard keys design team
  draft-ietf-quic-tls.md
Labels: -tls, -transport, design

#2771 Fix typo: s/steam/stream/
  draft-ietf-quic-http.md
Labels: -http, editorial

#2690 Orphan Placeholder
  draft-ietf-quic-http.md
Labels: -http, design

#2708 Specify HEADERS on control stream error.
  draft-ietf-quic-http.md
Labels: -http

#2780 use upper-case RECOMMENDED for text incorporated from RFC 7540
  draft-ietf-quic-http.md
Labels: -http

#2782 Fix number agreement: a peer *is* able
  draft-ietf-quic-http.md
Labels: -http

#2698 Break up H2 Frame Considerations
  draft-ietf-quic-http.md
Labels: -http, editorial

#2784 Fix inconsistency.
  draft-ietf-quic-http.md
Labels: -http, editorial

#2715 Specify error for a DATA frame before any HEADERS frames
  draft-ietf-quic-http.md
Labels: -http, design

#2762 Mandate allowing peer to create enough unidirectional streams for HTTP and QPACK
  draft-ietf-quic-http.md
Labels: -http

#2764 Import malformed message text
  draft-ietf-quic-http.md
Labels: -http

#2773 Don't mandate zero server-initiated bidi streams
  draft-ietf-quic-http.md
Labels: -http

#2776 Explain initial settings a little more
  draft-ietf-quic-http.md
Labels: -http, editorial

#2781 Bring back the Exclusive Flag
  draft-ietf-quic-http.md
Labels: -http, design

#2786 SHOULD NOT include platform delay in ack delay
  draft-ietf-quic-recovery.md
Labels: -recovery

#2798 Remove extra space
  draft-ietf-quic-http.md
Labels: -http

#2797 Add missing comma
  draft-ietf-quic-http.md
Labels: -http

#2796 Fix grammar
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2774 Discuss max-header-list-size from the other side
  draft-ietf-quic-http.md
Labels: -http

#2746 Clients use the same crypto handshake after Retry
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2803 remove outdated text about version negotiation
  draft-ietf-quic-tls.md
Labels: -tls

#2804 Move Retry and Version Negotiation
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2688 Clarify server CONNECTION_CLOSE with Handshake
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2727 Clarify the text recommending replacing CIDs when consumed
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2800 fix description which token to use for Initial packets
  draft-ietf-quic-transport.md
Labels: -transport

#2799 Fix verb ownership: a packet does not process packets
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2835 Fix grammar
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2836 recovery: fix dangling ref to quic-tls
  draft-ietf-quic-recovery.md
Labels: -transport, editorial

#2827 Fix typos
  draft-ietf-quic-invariants.md
  draft-ietf-quic-transport.md
Labels: -invariants, -transport, editorial

#2831 fix effect of Retry on 0-RTT packets
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2833 clarify why clients can't send Handshake before receiving a server response
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2731 Transport editorial suggestions
  draft-ietf-quic-transport.md
Labels: -transport

#2730 Editorial suggestions on the Streams section
  draft-ietf-quic-transport.md
Labels: -transport

#2826 Make exceeding stream limits a connection error
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2832 remove misleading sentence about connection IDs after Retry
  draft-ietf-quic-transport.md
Labels: -transport

#2828 Fix title capitalization
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2845 Remove stale text that forbids the use of TLS records carrying early data
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2846 fix overspecific coalescing requirement for Initials
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2849 Fix grammar
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2759 QPACK editorial revision
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2847 Don't terminate connections, close 'em
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2854 transport: fix dangling reference to -tls
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2808 Compare H2 PROTOCOL_ERROR with HTTP_GENERAL_PROTOCOL_ERROR
  draft-ietf-quic-http.md
Labels: -http

#2813 Remove HTTP_PUSH_ALREADY_IN_CACHE error
  draft-ietf-quic-http.md
Labels: -http

#2814 Rationalize HTTP_WRONG_SETTING_DIRECTION
  draft-ietf-quic-http.md
Labels: -http

#2820 Refactor Push ID related errors
  draft-ietf-quic-http.md
Labels: -http, design

#2822 Rationalize HTTP/3 stream creation errors
  draft-ietf-quic-http.md
Labels: -http, design
