Repository quicwg/base-drafts, pull requests merged in 2019-08, with the labels that each got.

#2949 Remove extra curly brace from HTTP draft
  draft-ietf-quic-http.md
Labels: -http, editorial

#2948 Fix nit in protocol overview in TLS draft
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2950 Remove mention of "protocol version selection" from TLS draft
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2662 Replace HTTP_MALFORMED_FRAME error code
  draft-ietf-quic-http.md
Labels: -http, design

#2867 Tighten HEADERS and DATA frame order requirements.
  draft-ietf-quic-http.md
Labels: -http

#2868 Add normative reference to RFC7540 8.1.2.5.
  draft-ietf-quic-http.md
Labels: -http

#2946 Make Recovery Pseudocode Formatting Consistent
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2887 Get test vectors in place for -23
  draft-ietf-quic-tls.md
  initial-protection.js
Labels: -tls, design

#2896 Move wasteful packet stuff to -transport
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, editorial

#2888 Firm up language around stream termination
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2960 CRYPTO frames can not be sent in 0-RTT
  draft-ietf-quic-transport.md
Labels: -tls, editorial

#2954 Clarify out of order acking
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2965 Update Stream Commitment Attack example
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2933 Modify pseudo-code to enforce that zero must be encoded as zero.
  draft-ietf-quic-qpack.md
Labels: -qpack

#2936 QPACK [editorial] Reword paragraph on blocked stream limit.
  draft-ietf-quic-qpack.md
Labels: -qpack

#2939 QPACK [design] Decoder MUST emit Header Acknowledgement.
  draft-ietf-quic-qpack.md
Labels: -qpack

#2940 QPACK [editorial] Post-base index is not relative index.
  draft-ietf-quic-qpack.md
Labels: -qpack

#2964 ECN counts in the ACK frame should be in the same pn_space of the ACK frame
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -recovery, -transport

#2921 Confidentiality for server transport parameters
  draft-ietf-quic-transport.md
Labels: -transport, design

#2852 recommend resending of 0-RTT data after a Retry
  draft-ietf-quic-transport.md
Labels: -transport, design

#2841 describe how 0-RTT is accepted and rejected
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, design

#2857 Define terms for application actions
  draft-ietf-quic-http.md
  draft-ietf-quic-transport.md
Labels: -http, -transport, design

#2918 Fix language around CC on migration
  draft-ietf-quic-transport.md
Labels: -transport, design

#2893 Remove DoS vector for spoofed connection migration
  draft-ietf-quic-transport.md
Labels: -transport

#2873 grease transport parameters
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -transport, design

#2880 Articulate error code principles
  draft-ietf-quic-transport.md
Labels: -transport, design

#2882 Remove spin coordination requirement
  draft-ietf-quic-transport.md
Labels: -transport, design

#2976 State network byte order in PreferredAddress
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2961 Repair rules for NEW_TOKEN
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2981 Update remaining test vectors for Initial packets.
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2983 Remove short title for TLS
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2927 Allow Smaller Stateless Resets
  draft-ietf-quic-transport.md
Labels: -transport

#2752 ECN verification text
  draft-ietf-quic-transport.md
Labels: -transport

#2929 Minor clarification. Fixes #2084
  draft-ietf-quic-transport.md
Labels: -transport, design

#2988 Only servers send NEW_TOKEN
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2991 DCID in short headers
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#2989 No point in coalescing Retry or VN
  draft-ietf-quic-transport.md
Labels: -transport, editorial
