Repository quicwg/base-drafts, pull requests merged in 2019-10, with the labels that each got.

#3069 ack-eliciting not ACK-eliciting
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3079 Stop using SRTT
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3084 Pseudo-header section reference
  draft-ietf-quic-http.md
Labels: -http

#3081 Mention QPACK streams
  draft-ietf-quic-http.md
Labels: -http, editorial

#3090 fix incorrect error code name
  draft-ietf-quic-http.md
Labels: -http, editorial

#3059 http: syntax fixes for quic Alt-Svc parameter
  draft-ietf-quic-http.md
Labels: -http, editorial

#3035 Allow PING at every encryption level
  draft-ietf-quic-tls.md
Labels: -transport

#3055 Remove 1 RTT delayed ack requirement
  draft-ietf-quic-transport.md
Labels: -transport

#2947 Describe interaction between QUIC and TLS regarding saved 0-RTT state
  draft-ietf-quic-tls.md
Labels: -tls

#2968 Stateless reset too
  draft-ietf-quic-transport.md
Labels: -transport, design

#3083 Additional error cases for CANCEL_PUSH
  draft-ietf-quic-http.md
Labels: -http

#2675 Define under-utilizing the congestion window
  draft-ietf-quic-recovery.md
Labels: -recovery

#3089 Be more specific when naming bits
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3044 Clarify why post-handshake client auth is banned
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3105 Alternative > alternate
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3106 MUST pace or limit bursts to 10 packets
  draft-ietf-quic-recovery.md
Labels: -recovery

#3118 Remove QUIC version hint
  draft-ietf-quic-http.md
Labels: -http, design

#2942 QPACK [editorial] Misc minor editorial changes.
  draft-ietf-quic-qpack.md
Labels: -qpack

#3051 Clients send datagrams with 1200 byte payloads
  draft-ietf-quic-transport.md
Labels: -transport, design

#3092 MUST ACK each ack-eliciting packet once
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3124 Rephrase #2780 to active voice
  draft-ietf-quic-http.md
Labels: -http, editorial

#2935 remove RIC from Relative Index in Header Block figure; add Base value to two figures
  draft-ietf-quic-qpack.md
Labels: -qpack

#3123 Require clients to keep sending if they want to keep receiving
  draft-ietf-quic-http.md
Labels: -http, editorial

#3140 Delete reference to crypto timeout
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3137 Remove the TLP citation because it's in RACK
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3049 Retransmitting an ACK frame warning
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3143 Fix typo and wording in change log
  draft-ietf-quic-tls.md
Labels: editorial

#3144 Fix typo and wording in change log
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3146 Fix punctuation
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3113 Clarify that clients don't need to remember unknown SETTINGS
  draft-ietf-quic-http.md
Labels: -http

#3077 Remove obsolete 'Discussion' section
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3147 Servers have to change connection IDs in Retry
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3153 Use the right connection ID
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3160 MUST limit bursts to the initial congestion window
  draft-ietf-quic-recovery.md
Labels: -recovery

#3133 Make language of representations consistent.
  draft-ietf-quic-qpack.md
Labels: -qpack

#3134 s/up to/up to and including/ for clarity.
  draft-ietf-quic-qpack.md
Labels: -qpack

#3108 Replace use of the TLS presentation language with QUIC encoding
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport

#3138 Applications need to disable or selectively reject 0-RTT
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3148 Fix handling of Retry in recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3114 Talk about concurrency in H3 vs. H2
  draft-ietf-quic-http.md
Labels: -http, editorial

#3149 Explicit linkages for ODCID/OCID TP
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3165 Don't require RESET_STREAM on terminated streams
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3057 PTO MUST send new data or retransmit data if possible
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3171 Retry MUST NOT -> cannot be treated as an acknowledgement
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3098 CONNECTION_CLOSE is non-ack-eliciting
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -recovery, -transport, design

#2993 Stateless reset comparisons (constant time/any order/datagram)
  draft-ietf-quic-transport.md
Labels: -transport, design

#3096 MUST retire Connection IDs becoming stale
  draft-ietf-quic-transport.md
Labels: -transport, design

#2870 Initial secrets change after Retry
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3045 Allow ClientHello to span multiple QUIC packets
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls
