Repository quicwg/base-drafts, pull requests merged in 2019-03, with the labels that each got.

#2497 Change error code for DUPLICATE_PUSH
  draft-ietf-quic-http.md
Labels: -http, design

#2508 Change illegal PRIORITY frame to a conn error
  draft-ietf-quic-http.md
Labels: -http, design

#2438 QPACK table lookup noob clarifications
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2470 More specific IANA registration xref
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2261 Clarify when a dynamic table entry can be evicted.
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2514 Changelog for -19
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#2355 Allow most frames in 0-RTT
  draft-ietf-quic-http.md
  draft-ietf-quic-tls.md
Labels: -http, -tls, -transport, design

#2414 New connection IDs are mandatory for intentional migration
  draft-ietf-quic-transport.md
Labels: -transport, design

#2386 Remove requirement for reciprocal connection ID change
  draft-ietf-quic-transport.md
Labels: -transport, design

#2521 QPACK: Use the term "HTTP/3" in the title
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2525 Add section number to reference
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2483 Clarify what to do when ALPN negotiation fails
  draft-ietf-quic-tls.md
Labels: -tls, design

#2499 Close the connection if MAX_STREAMS is too large
  draft-ietf-quic-transport.md
Labels: -transport, design

#2532 Many frames have flags in the type now
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2537 Clarify meaning of RESET_STREAM
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2446 Minor TLS draft editorial corrections
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2535 disallow port changes on disable_migration
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2530 Bump SETTINGS_NUM_PLACEHOLDERS codepoint to 0x9
  draft-ietf-quic-http.md
Labels: -http, design

#2557 Simplify kPersistentThreshold
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial
