Repository quicwg/base-drafts, pull requests merged in 2019-05, with the labels that each got.

#2660 Stream ID is 62-bits
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#1998 introduce a max_connection_ids transport parameter
  draft-ietf-quic-transport.md
Labels: -transport, design

#2510 all HTTP/3 protocol violations should lead to connection errors
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -http, design

#2635 Targeted attacks in Security Considerations
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2666 Don't request control streams be closed
  draft-ietf-quic-http.md
Labels: -http, design

#2646 use max_ack_delay = 0 before receving the TPs
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -recovery, -transport, design

#2626 Use semicolons for section references
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#2667 Recovery Editorial Nits
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2674 Define abandonment
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2402 Describe PMTU probing that includes source connection ID for routing …
  draft-ietf-quic-transport.md
Labels: -transport

#2668 QPACK might be part of the exchange, but not
  draft-ietf-quic-http.md
Labels: -http, editorial

#2696 Rename IsWindowLost to AreAllPacketsInPeriodLost
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2695 Push ID limit checking in DUPLICATE_PUSH
  draft-ietf-quic-http.md
Labels: -http, editorial

#2642 Don't send PING in Initial or Handshake
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2676 ignore the ack delay in Initial and Handshake packets
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2683 Pull some H2 content into the introduction
  draft-ietf-quic-http.md
Labels: -http, editorial

#2701 Reorder sections
  draft-ietf-quic-http.md
Labels: -http, editorial, merge-imminent

#2709 Specify server error on receipt of a PUSH_PROMISE frame
  draft-ietf-quic-http.md
Labels: -http, design

#2710 Split SETTINGS handling error text
  draft-ietf-quic-http.md
Labels: -http, editorial

#2665 Reference 8.2 of RFC7540 to explain Server Push
  draft-ietf-quic-http.md
Labels: -http, editorial

#2707 Fix GOAWAY connection errors.
  draft-ietf-quic-http.md
Labels: -http, design

#2702 Prohibit other frame types on CONNECT
  draft-ietf-quic-http.md
Labels: -http, design

#2703 CONNECT error: MUST close, SHOULD RST
  draft-ietf-quic-http.md
Labels: -http, design

#2738 transport: replace "stateless retry" in text with "retry"
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2647 Clarify that unlinkability is required for NEW_TOKEN tokens. Changes …
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2743 Better articulate principles for ciphersuites
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2756 Remove AEAD_AES_256_CCM
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2687 New paths may seed initial_rtt
  draft-ietf-quic-recovery.md
Labels: -recovery
