Repository quicwg/base-drafts, pull requests merged in 2019-02, with the labels that each got.

#2025 Send an immediate ACK
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2408 Move pseudocode to appendices
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2409 validation of "Retry" token is discussed in 8.1.3, not 8.1.2
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2421 Fix typo: doubled "the"
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2420 Prohibit retiring CID of containing packet
  draft-ietf-quic-transport.md
Labels: -transport

#2379 Replace the RequireInsertCount decoding algorithm
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2330 QPACK: Clarify how maximum dynamic table capacity can be set
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#2417 update the pseudo code to include packet number spaces
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2422 Update diagram: h2q is now h3
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2426 Servers can still CANCEL, too.
  draft-ietf-quic-http.md
Labels: -http, editorial

#2427 Migration in Security Considerations
  draft-ietf-quic-http.md
Labels: -http, editorial

#2425 Indicate initial-only frames
  draft-ietf-quic-http.md
Labels: -http, editorial

#2431 Discard inconsistent packets
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2445 quic-tls nits
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2449 remove unused variable largest_sent_packet
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2437 VarInt all the HTTP things
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -http, design

#2440 Modify QPACK steam and instruction terminology
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2450 Connection IDs for 0-RTT packets
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2448 Work on key diversity
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2424 Reword Immediate ACK Recommendation
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2313 Proposal to make Version Negotiation more like Retry to punt VN to QUICv2
  draft-ietf-quic-transport.md
Labels: -invariants, -transport, design

#2454 Change Idle Timeout to Milliseconds
  draft-ietf-quic-transport.md
Labels: -transport, design, has-consensus

#2459 Reword closing confirmation text
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2463 Fix packet and stream numbers in example
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2455 describe what happens when the PTO timer expires
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2468 Address Validation Nits
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2474 Eliminate duplicate word
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2478 fix incorrect field name
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2456 the crypto timeout is based on the last crypto packet sent
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2451 Add a loss_time per packet number space
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2406 Close connection if peer becomes unreachable
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2460 Only applications know what can be retried
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2365 Persistent Congestion Time Threshold
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2469 Fix inconsistent leading zeros
  draft-ietf-quic-http.md
Labels: -http, editorial

#2457 Rework GOAWAY text (again)
  draft-ietf-quic-http.md
Labels: -http, design

#2428 clarify what happens when consuming CIDs excessively
  draft-ietf-quic-transport.md
Labels: -transport, editorial
