Repository quicwg/base-drafts, pull requests merged in 2019-07, with the labels that each got.

#2862 remove incorrect statement about empty STREAM frames
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2860 Fix grammar
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2859 Delayed packets can't create state
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2872 move definition of active_connection_id_limit to where it belongs
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2769 Request to Retire Locally Issued CIDs
  draft-ietf-quic-transport.md
Labels: -transport, design

#2729 Don't store or retransmit PATH_RESPONSE frames, avoid buffering
  draft-ietf-quic-transport.md
Labels: -transport

#2794 Clarify ACK of ACKs and bundling a PING
  draft-ietf-quic-transport.md
Labels: -transport

#2370 Stronger migration handshake
  draft-ietf-quic-transport.md
Labels: -transport, design

#2875 Change log for -21
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#2749 Allow longer CIDs
  draft-ietf-quic-invariants.md
  draft-ietf-quic-transport.md
Labels: -invariants, -transport, design

#2877 Editorial fix for #2479
  draft-ietf-quic-invariants.md
  draft-ietf-quic-transport.md
Labels: -invariants, -transport, editorial

#2883 fixed typo
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2806 Merge Crypto timeout and PTO
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2866 Don't state QUIC error codes in HTTP/3
  draft-ietf-quic-http.md
Labels: -http, editorial

#2902 Fix lack of exponential backoff in pseudocode
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2865 Fix HPACK xref
  draft-ietf-quic-http.md
Labels: -http

#2904 Add one to sample offset for header protection
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2901 Fix typo
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2917 Clarify resetting congestion control
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2915 Up to two full-sized datagrams, not packets
  draft-ietf-quic-recovery.md
Labels: -recovery

#2912 PTO should always send an ack-eliciting packet
  draft-ietf-quic-recovery.md
Labels: -recovery

#2943 Update the PreferredAddress structure to accomodate a 20 byte CID.
  draft-ietf-quic-transport.md
Labels: -transport, editorial
