Repository quicwg/base-drafts, pull requests merged in 2019-09, with the labels that each got.

#2907 Fix Recovery Pseudocode
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2997 Reserved frame types and the other reserved frame types
  draft-ietf-quic-http.md
Labels: -http, design

#3015 Use contains() in recovery pseudocode
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2962 Talk more about multiple tokens
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2990 Simplify ChaCha20 interface
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2998 Error codes can't cause errors
  draft-ietf-quic-http.md
Labels: -http, design

#2937 QPACK [editorial] Update text to include both criteria of "blocking entry".
  draft-ietf-quic-qpack.md
Labels: -qpack

#3012 Add CRYPTO_BUFFER_EXCEEDED to the error code table
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3007 Attempt to make the stateless reset text better
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3003 rename HTTP_UNEXPECTED_FRAME to HTTP_FRAME_UNEXPECTED and fold HTTP_W…
  draft-ietf-quic-http.md
Labels: -http

#2941 QPACK [editorial] Update text on instructions and representations.
  draft-ietf-quic-qpack.md
Labels: -qpack

#3004 Security Considerations text for a memory limit
  draft-ietf-quic-qpack.md
Labels: -qpack

#2802 remove misleading sentence about incompatible QUIC versions and ALPN
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2992 Keys need to be available to QUIC earlier
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2916 Move Generating Acknowledgements to Transport
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -recovery, -transport, editorial

#3018 Recovery Changelog
  draft-ietf-quic-recovery.md
Labels: -recovery

#3019 Changelog for transport-23
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3017 HTTP-23 changelog
  draft-ietf-quic-http.md
Labels: -http, editorial

#3021 fix draft-23 test vectors
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2977 forbid empty NEW_TOKEN frames
  draft-ietf-quic-transport.md
Labels: -transport, design

#3040 Removes unnecessary sentence about coalesced packets
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3043 TLS application data isn't possible
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3060 Clarify how servers enable 0-RTT
  draft-ietf-quic-tls.md
Labels: -tls, editorial
