Repository quicwg/base-drafts, pull requests merged in 2019-04, with the labels that each got.

#2585 Replace recovery epoch with congestion event
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2506 Clarify RTT calculations in recovery
  draft-ietf-quic-recovery.md
Labels: -recovery

#2576 Clarify final size definition
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2577 Distinguish between reserved versions
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2588 Use Congestion Recovery Period in psuedocode
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2578 No state transition if RESET_STREAM is suppressed
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2575 Normative text for 1-RTT before handshake completion
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2281 Include handshake anti-deadlock logic in pseudocode
  draft-ietf-quic-recovery.md
Labels: -recovery

#2539 Update name of TPs
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2601 Frames of unknown type cause connection close
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2603 nonsensical MUST on frames fitting in packets
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2608 non-QUIC TLS implementation don't validate transport parameters
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2592 Rewrite of RTT estimation section
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2590 Don't arm the handshake timer if there's no data
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2610 Simplify UpdateRtt pseudocode
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2614 Send ACK immediately when all data in PN space received
  draft-ietf-quic-recovery.md
Labels: -recovery

#2562 qpack: define error codes to 0x2xx
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#2618 Exceeding 2^62-1 is a flow control error
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2527 Push stream data and PUSH_PROMISE reordering clarification
  draft-ietf-quic-http.md
Labels: -http, editorial

#2563 Remove Unicode Character 'LEFT-TO-RIGHT OVERRIDE' (U+202D)
  draft-ietf-quic-http.md
Labels: -http, editorial

#2620 Clarify time threshold vs crypto timer
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2605 Reference RFC7661 for application limited
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2633 H2 comparison appendix spruce up
  draft-ietf-quic-http.md
Labels: -http, editorial

#2612 Add further guidance related to unidirectional stream TPs
  draft-ietf-quic-http.md
Labels: -http, editorial

#2501 Define Error when Empty Bits != 0
  draft-ietf-quic-http.md
Labels: -http, design

#2624 Add details of marking packets lost on PTO
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2621 lost_pn can no longer be negative
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2561 Set the QUIC bit in Version Negotiation
  draft-ietf-quic-transport.md
Labels: -transport, design

#2523 Remove exception for Initial padding
  draft-ietf-quic-transport.md
Labels: -transport, design

#2524 Specify behavior for post-handshake CRYPTO messages
  draft-ietf-quic-transport.md
Labels: -transport, design

#2600 Mandate the use of short header for stateless reset
  draft-ietf-quic-transport.md
Labels: -transport, design

#2634 Fix stale reference and edge case in GOAWAY text
  draft-ietf-quic-http.md
Labels: -http, editorial

#2631 -20 changelog
  draft-ietf-quic-http.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#2652 Move "Discarding Keys and Packet State" up
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2651 Remove lost_pn and avoid integer underflow
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2560 Transport parameters are mandatory. Fixes #2528
  draft-ietf-quic-tls.md
Labels: -tls, design

#2503 Suggestion for #2499
  draft-ietf-quic-transport.md
Labels: -transport, editorial
