Repository quicwg/base-drafts, pull requests merged in 2019-11, with the labels that each got.

#3167 kMaxDatagramSize -> max_datagram_size
  draft-ietf-quic-recovery.md
Labels: -recovery

#3177 Further specify frame Length field
  draft-ietf-quic-http.md
Labels: -http, editorial

#3181 HTTP & QPACK changelogs for -24
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -http, -qpack, editorial

#3180 Transport and TLS changelog for -24
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, editorial

#3050 Rewrite key update section
  draft-ietf-quic-tls.md
Labels: -tls, design

#3185 Recovery changelog for -24
  draft-ietf-quic-recovery.md
Labels: -recovery

#3042 Use the FRAME_ENCODING_ERROR for errors in frame encoding
  draft-ietf-quic-transport.md
Labels: -transport, design

#3190 Add a few semicolons
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3188 Correct overflow checks on packet number decoding algorithm
  draft-ietf-quic-transport.md
Labels: -transport, design

#3066 Change PTO to be per packet number space
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3172 Don't call two different things "blocking"
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3132 Fix bug in Insert Count Increment description.
  draft-ietf-quic-qpack.md
Labels: -qpack

#3191 Add ClientHello changes to transport changelog since -23
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3036 require peers to check if RETIRE_CONNECTION_ID sequence number is valid
  draft-ietf-quic-transport.md
Labels: -transport, design

#3192 Certainly
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3209 PING in all contexts
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3207 Title-Case Titles
  draft-ietf-quic-http.md
Labels: -http, editorial

#3222 [HTTP/3] [editorial] s/each request and response/each request-response pair/
  draft-ietf-quic-http.md
Labels: -http, editorial

#3204 Resolve conflicting advice on how to handle Retire Prior To
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3203 Add Retry CID change requirement to transport changelog
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3213 Clarify loss epoch
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3219 [HTTP/3] [editorial] How many parts exactly?
  draft-ietf-quic-http.md
Labels: -http, editorial

#3220 [HTTP/3] [editorial] Remove mention of redefining setting format.
  draft-ietf-quic-http.md
Labels: -http, editorial

#3238 App or flow control limited
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3237 Fix Gorry's editorial comments
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3241 Reference 3168 for ECN
  draft-ietf-quic-recovery.md
Labels: -recovery

#3250 Fix incorrect time-threshold expression
  draft-ietf-quic-recovery.md
Labels: -recovery

#3252 endpoints never requests a CID
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3242 ECN editorial
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3253 Avoid using table- prefixes for anchors
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3234 Recovery editorial update
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3267 TLS: fix references to registries
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3249 Use host less, define address more
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3262 Remove some cruft from packet size section
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3157 Backoff on CONNECTION_CLOSE
  draft-ietf-quic-transport.md
Labels: -transport, design

#3231 Bad CONNECTION_CLOSE isn't special
  draft-ietf-quic-transport.md
Labels: -transport, design

#3156 clarify the scope of a NEW_TOKEN token
  draft-ietf-quic-transport.md
Labels: -transport, design

#3164 Forbid use of application-level close in Initial, Handshake packets
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -transport, design

#3128 Mandatory distinction between token types
  draft-ietf-quic-transport.md
Labels: -transport, design

#3202 handle reordered NEW_CONNECTION_ID frames
  draft-ietf-quic-transport.md
Labels: -transport, design
