Repository quicwg/base-drafts, pull requests merged in 2019-01, with the labels that each got.

#2286 Incoming unidirectional stream cannot be reset
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2288 draft-tls typo: replace mention of packet number protection with header protection
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2244 Congestion window reduced on ACK
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2293 Follow-up on PTO wording
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2284 Stronger protocol negotiation requirement
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2240 Adjust autotuning recommendations
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2297 fix description of FINAL_OFFSET_ERROR
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2274 Test vectors
  draft-ietf-quic-tls.md
  initial-protection.js
Labels: -tls, editorial

#2304 we no longer have unknown packet types
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2306 "max_early_data" extension does not exist
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2310 Idempotent in this version
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2301 Add a maximum for max_ack_delay
  draft-ietf-quic-transport.md
Labels: -transport, design

#2265 ALPN "hq" -> "h3"
  draft-ietf-quic-http.md
Labels: -http, editorial

#2266 Simplify Alt-Svc example
  draft-ietf-quic-http.md
Labels: -http, editorial

#2316 Suggestions from #2197
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2285 Rename Final Offset to Final Size
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2300 Discard 0-RTT packet state when rejected
  draft-ietf-quic-recovery.md
Labels: -recovery

#2302 ACK of non-existent packet is illegal
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2203 Rearrange Packet Types section and references
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2204 Ekr editorial 17 http
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -http, editorial

#2141 Allow discarding bad, unauthenticated packets
  draft-ietf-quic-transport.md
Labels: -transport, design

#2320 update spin-exp short header to sync with #2203
  draft-ietf-quic-spin-exp.md
Labels: -spin-exp

#2111 Use "Insert Count" rather than "Largest Reference"
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2326 Client can't prioritize streams it can't open
  draft-ietf-quic-http.md
Labels: -http, editorial

#2324 Transport owns details of effecting keep-alive
  draft-ietf-quic-http.md
Labels: -http, editorial

#2115 Introduce terms dynamic table capacity and maximum dynamic table capacity.
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2325 Introduce HTTP_REQUEST_REJECTED
  draft-ietf-quic-http.md
Labels: -http, design, yaec!

#2303 One Retry/VN per UDP datagram
  draft-ietf-quic-transport.md
Labels: -transport, design

#2332 extended unidirectional streams can be closed or reset
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
Labels: -http, editorial

#2343 GOAWAY on wrong stream is WRONG_STREAM
  draft-ietf-quic-http.md
Labels: -http, design

#2350 No common versions means fail
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2296 Allow servers to send a preferred address of each address family
  draft-ietf-quic-transport.md
Labels: -transport, design

#2346 Rework idle timeout definition
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2354 STOP_SENDING is permitted for Ready streams
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2361 Refine STOP_SENDING reaction text
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2340 Add note about frequent RTT estimates
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2349 Correcting polarity of SPA language
  draft-ietf-quic-transport.md
Labels: -transport, design, editorial

#2327 Ignore packet loss when the keys are not available
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#2362 Define RTT
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2366 Bikeshed Required Insert Count encoding.
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#2368 Clarify when to signal error on incorrect Required Insert Count.
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#1637 Discuss Application-Limited Sending
  draft-ietf-quic-recovery.md
Labels: -recovery

#2385 Remove Timeout Loss Detection Heading
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#2391 removing stray )
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#2392 capitalizing destination connection ID
  draft-ietf-quic-tls.md
Labels: -tls, editorial
