Repository quicwg/base-drafts, pull requests merged in 2020-12, with the labels that each got.

#4416 [qpack] Update security considerations TOC
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4414 Minor update to Persistent Congestion
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4423 [qpack] Clarify applicability of dynamic table state probing
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4388 Not all registries have stricter rules
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4419 Move authority discussion earlier
  draft-ietf-quic-http.md
Labels: -http, editorial

#4427 Cross-protocol attacks are maybe possible
  draft-ietf-quic-http.md
Labels: -http, editorial

#4424 [qpack] minor edits
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4339 Document request forgery by version negotiation
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4428 Don't DoS the IANA registry server
  draft-ietf-quic-http.md
  draft-ietf-quic-transport.md
Labels: -http, -transport

#4429 Be clearer about persistent congestion
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4345 Add Versions registry
  draft-ietf-quic-transport.md
Labels: -transport, design

#4394 Idempotent is not the standard for 0-RTT
  draft-ietf-quic-tls.md
Labels: -tls, design

#4264 Apply the 3x amplification-limit to migration too
  draft-ietf-quic-transport.md
Labels: -transport, design

#4426 recovery: pseudo code update for changes in #4421
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4436 Define pseudo-code of header protection using packet number offset
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4434 Add 'time' to latest_in_flight_lost
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4430 Remove notes about draft versions
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4431 Final salt and retry keys
  draft-ietf-quic-tls.md
  protection-samples.js
Labels: -tls, design

#4438 Recovery changelog
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4439 Changelogs for -transport and -tls -33
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, editorial

#4432 Remove draft version identification from h3
  draft-ietf-quic-http.md
Labels: -http, editorial

#4346 Malformed could get its own error
  draft-ietf-quic-http.md
Labels: -http, design

#4444 qpack-20 changelog
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4443 HTTP final notes for -33
  draft-ietf-quic-http.md
Labels: -http, editorial

#4446 replace remaining use of "octet" with "byte"
  draft-ietf-quic-http.md
  draft-ietf-quic-invariants.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -http, -tls, -transport, editorial

#4445 It is spelled 'acknowledgement'
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -http, -qpack, -recovery, -tls, -transport, editorial

#4447 Add a few missing transport-33 changelog items
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4461 Expect, don't predict
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4464 Use "domain name", not "DNS name"
  draft-ietf-quic-http.md
Labels: -http, editorial
