Repository quicwg/base-drafts, pull requests merged in 2020-02, with the labels that each got.

#3403 Clarify that minimal varint encoding applies to ALL frame types
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3401 Add forward references to packet number spaces
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3400 Fix #2719: replace defunct "both conditions" verbiage
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3404 Simplify initial sending part state
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3412 Change 2 SHOULDs to MUSTs in transport to agree with recovery
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3393 Normative language for PTO
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3372 Remove HTTP_ prefix
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3339 Specify the PATH_CHALLENGE timer period
  draft-ietf-quic-transport.md
Labels: -transport

#3323 Require QUICv1 for HTTP/3
  draft-ietf-quic-http.md
Labels: -http, design

#3326 Make SNI more clearly mandatory
  draft-ietf-quic-http.md
Labels: -http, editorial

#3309 Remove DUPLICATE_PUSH and allow duplicate PUSH_PROMISE
  draft-ietf-quic-http.md
Labels: -http, design

#3352 Clarify and split the "malformed" definition
  draft-ietf-quic-http.md
Labels: -http, design

#3411 Tweak traffic analysis text
  draft-ietf-quic-http.md
Labels: -http, editorial

#3421 Here be dragons
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3410 Redefine recovery period
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3406 Fix #3405: Specify that active_connection_id_limit TP is an integer
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3438 #3348 Clarify that you can use any issued CID at any time, even during the handshake
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3301 Don't recommend 3 RTTs of credit (and other editorial)
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3292 Define stateless CONNECTION_CLOSE
  draft-ietf-quic-transport.md
Labels: -transport, design

#3308 Allow use of token after client address change
  draft-ietf-quic-transport.md
Labels: -transport, design

#3424 Point out that the payload size could decrease
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3362 Ack delays are adjusted by ack_delay_exponent
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3458 Deadlocks, and how to avoid them
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3460 Fix the section reference
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3469 Fix grammar: for indicate -> to indicate
  draft-ietf-quic-http.md
Labels: -http, editorial

#3472 Add a changelog for http, qpack, tls, and recovery since -25
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
Labels: -recovery, editorial

#3437 Application-layer close in HTTP/3
  draft-ietf-quic-http.md
Labels: -http, editorial

#3169 Make transport parameters varint
  draft-ietf-quic-transport.md
Labels: -transport, design

#3444 Idle timeout editorial fixes
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3479 Update reference to RFC8740
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3131 Improve language on evictable entries.
  draft-ietf-quic-qpack.md
Labels: -qpack

#3481 Fix typo in transport draft changelog
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3478 Unilateral Transport Parameters
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3485 Scope connection IDs to the current connection
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3462 Clarify adaptive loss thresholds
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3482 Fix typo in HTTP draft
  draft-ietf-quic-http.md
Labels: -http, editorial

#3483 HTTP/3: Add RFC8446 reference for TLS 1.3.
  draft-ietf-quic-http.md
Labels: -http, editorial

#3417 Add citation to website fingerprinting draft
  draft-ietf-quic-http.md
Labels: -http, editorial

#3445 Clarify client anti-amplification response
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3463 Make congestion control more self-contained
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3380 Editorial: More concise intro text (recovery)
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial
