Repository quicwg/base-drafts, pull requests merged in 2020-03, with the labels that each got.

#3492 Normative language in cc section
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3425 Remember active_connection_id_limit for 0-RTT
  draft-ietf-quic-transport.md
Labels: -transport, design

#3398 Fix: server cannot proceed to handshake when given an invalid Retry token
  draft-ietf-quic-transport.md
Labels: -transport, design

#3453 ACK-only packets are not congestion controlled
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3443 MAY send 1 packet entering recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3415 Reset PTO and loss detection timer when discarding keys
  draft-ietf-quic-recovery.md
Labels: -recovery, -transport, design

#3450 Clarify which packet losses may be ignored
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3491 Editorial proposed changes for cc section
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3505 Follow-up to Mirja's editorial PR
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3441 Document TCP RTO vs QUIC PTO
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3129 Clients can send GOAWAY too
  draft-ietf-quic-http.md
Labels: -http, design

#3508 Change HTTP/3 error codes from HTTP_ to H3_.
  draft-ietf-quic-qpack.md
Labels: -qpack

#3503 Clarify handshake anti-deadlock wrt. handshake confirmation
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3497 Rephrase some Connection ID usage text
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3494 Adjust pointers to sections
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3486 Clarify not arming PTO for ApplicationData before completion
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3349 Clarify section on negotiating connection IDs
  draft-ietf-quic-transport.md
Labels: -transport, design

#3504 Show file on linting error
  .lint.py
Labels: editorial

#3510 We're firm on no IANA actions for recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3466 Timeout handshake section in recovery draft
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3391 Remove pointer to appendix in PTO section (recovery)
  draft-ietf-quic-recovery.md
Labels: -recovery

#3511 Out-of-order may be intentional
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3516 Remove a TODO about partial packet processing
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3414 Improve Idle Timeout text
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3080 Retransmit server initial upon second Initial
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3461 Update PTO pseudocode to better match text
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3517 should -> SHOULD when bundling ACK frames
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3519 Editorial follow-up from #3128
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3527 Opening a stream in the wrong direction is an error.
  draft-ietf-quic-transport.md
Labels: -transport

#3514 The packet header changed since this was written
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#3515 This assumption is likely to be true
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#3518 Clarify cases ACKing every other could not happen
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2952 Skip a packet number when sending one PTO packet
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3407 Import most H2 references
  draft-ietf-quic-http.md
Labels: -http, editorial

#3315 Rewrite section on ack range limiting
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3473 renamed max_packet_size to max_udp_size
  draft-ietf-quic-transport.md
Labels: -transport, design

#3496 Allow but not recommend seeding of RTT on resumption
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3440 Early CONNECTION_CLOSE fixes
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, design

#3521 Recommend a 1ms timer granularity
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3361 Only send one immediate ACK
  draft-ietf-quic-transport.md
Labels: -transport, design

#3470 Count entire datagram for anti-amplification
  draft-ietf-quic-transport.md
Labels: -transport, design

#3327 What needs to be checked for address validation
  draft-ietf-quic-transport.md
Labels: -transport, design

#3474 Remove timing guidance
  draft-ietf-quic-transport.md
Labels: -transport, design

#3535 Added more text to NCID section
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3542 Fix typo
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3475 One of 'host' or ':authority' is required
  draft-ietf-quic-http.md
Labels: -http, design

#3543 Fix typo
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3538 Remove normative text from the Recovery Appendix
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3539 Clarify PTO packets count towards amplification limit
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3513 http-core and Friends
  draft-ietf-quic-http.md
Labels: -http, editorial

#3531 Import HTTP/2 Security Considerations
  draft-ietf-quic-http.md
Labels: -http, editorial

#3555 Use PeerNotAwaitingAddressValidation() in pseudocode
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3552 Reorganize "Sending Probe Packets"
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial
