Repository quicwg/base-drafts, pull requests merged in 2020-10, with the labels that each got.

#4171 marking caused the loss
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4174 Access loss recovery state in congestion control pseudocode
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4173 Move key discard to loss recovery section
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4185 Congestion control actions are on ECN-CE counts, not on ECN-CE markings
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4189 Pseudo code is code component
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial, ietf-lc

#4190 Remove mention of pipeACK
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4211 Call out h3 in more places
  draft-ietf-quic-http.md
Labels: -http

#4223 RFC8164 is exemplary
  draft-ietf-quic-http.md
Labels: -http, editorial

#4220 Don't reset pto backoff for Initial ACKs
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4214 Datagram size, not packet size
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4203 CONNECTION_CLOSE isn't ack-eliciting
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4218 Excess ack_delay could be non-compiance
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4175 Update AEAD limits for larger packets
  draft-ietf-quic-tls.md
Labels: -tls, design

#4188 Server SHOULD send full-sized datagrams until the path is validated
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -recovery, -transport, design

#4201 Clear up confusion about label encoding
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4202 Link between header protection usage and definition
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4205 Magnus' TLS nits
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4225 Minor editorial: datagram not packet
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4224 Prohibit using old keys for sending
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4182 update refs for -12 of http core drafts
  draft-ietf-quic-http.md
Labels: -http, editorial

#4212 What's an HTTP/3 connection?
  draft-ietf-quic-http.md
Labels: -http, editorial

#4236 Change controller is IETF
  draft-ietf-quic-http.md
Labels: -http

#4237 Nits from AD review
  draft-ietf-quic-http.md
Labels: -http

#4234 First, CANCEL_PUSH; then RESET_STREAM if appropriate
  draft-ietf-quic-http.md
Labels: -http, editorial

#4239 IANA: split change controller and contact
  draft-ietf-quic-http.md
  draft-ietf-quic-transport.md
Labels: -transport

#4249 More precision in defining string literals
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4247 Refer to Section 5.4 and not just Section 5
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4222 Don't refer to the Time Threshold Loss Detection Timer
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4233 Talk about padding-by-reserved-streams a little more
  draft-ietf-quic-http.md
Labels: -http, editorial

#4251 Explain and discourage HTTP/2 error code overlap
  draft-ietf-quic-http.md
Labels: -http, editorial

#4241 Pad path validation in both directions
  draft-ietf-quic-transport.md
Labels: -transport, design

#4226 Pad when validating addresses
  draft-ietf-quic-transport.md
Labels: -transport, design

#4255 Update vectors for -32
  draft-ietf-quic-tls.md
  protection-samples.js
Labels: -tls, editorial

#4256 Changelogs for -32
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#4308 Cite the notation section the first time it is used
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4309 Describe inputs to the packet number algorithm
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4307 Maximum datagram size of 1200 is a requirement
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4311 Yes, it's bytes
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4312 Padding non-HOWTO
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4306 Explain what the bitfield references mean
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4310 Tweak framing of frames table
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4317 Define stateless reset token
  draft-ietf-quic-transport.md
Labels: -transport, editorial
