Repository quicwg/base-drafts, pull requests merged in 2020-07, with the labels that each got.

#3806 Cite a source for the 30s timeout
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3812 A in AEAD, per RFC 5116
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3830 Fix grammar nit
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3857 VN isn't acknowledged, implicitly or otherwise
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3863 A couple of random circumlocations
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3867 If a packet matches a connection, process it
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3809 Clear vestiges of path validation symmetry
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3888 Repunctuate #3867
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3882 Prohibit the offering of TLS <1.3
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3869 Clearer explanation of caveat on discarding packets
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3886 Editorial tweaks to early response paragraph
  draft-ietf-quic-http.md
Labels: -http, editorial

#3825 A small certificate is good
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3866 Remove claim about 1-RTT keys
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3824 Reorder TLS interface summary
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3879 Group 0-RTT sections
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3872 Add frames, not packets
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3894 Don't reset an active connection
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3819 Reduce and un-separate
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3823 update kInitialRtt to 333ms, use that constant
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3807 Define preferred_address
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3820 Tickets and tokens are not for communication
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3829 Fix description of Version Negotiation
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#3818 Editorial suggestions on TLS
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3847 Split minimum idle timeout period
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3826 Reword paragraph on HelloRetryRequest
  draft-ietf-quic-tls.md
Labels: -transport, editorial

#3896 Gorry's suggestion on asymmetric links
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3903 [HTTP/3] [editorial] Fix SETTINGS_MAX_FIELD_SECTION_SIZE usage.
  draft-ietf-quic-http.md
Labels: -http, editorial

#3862 Which DCID determines Initial keys
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3905 Use kGranularity in persistent congestion
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3906 [HTTP/3] [editorial] Minor fix in GOAWAY wording.
  draft-ietf-quic-http.md
Labels: -http, editorial

#3805 Massive batch of probably-editorial nits
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3810 The minimum-information guarantee in invariants
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#3793 Add a section on flow control performance
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3901 Cherry-pick from Ekr's WGLC edits
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3904 Remove a redundant paragraph about PTO
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3881 Magnus wglc
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3897 Clarify what should be sent on PTO
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3893 Unifying words in recovery draft
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3871 More about authenticating Version Negotiation
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#3913 Add HANDSHAKE_DONE to handshake examples
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3865 Defer the definitions of closing and draining states
  draft-ietf-quic-http.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3811 Move requirements for packet number reset
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3858 Move day-in-the-life to intro
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3916 Change an assert in OnLossDetectionTimeout
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3921 fixing OnAckReceived of recovery draft
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3915 Clarify how to represent the packet number if no ACKs have been received
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3877 WGLC review nits for Recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3931 Loss detection is per-PN space, but RTT and CC aren't
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3928 Praveen's WGLC comments (editorial)
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3948 Fix spelling and style consistency nits
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3947 Fix spelling and style consistency nits
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3952 Move transport error codes to a separate subsection.
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3911 Current time PTO clarification
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3929 Use better example for persistent congestion
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3950 Fix spelling and style consistency nits
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3934 Emphasize still talking about sending
  draft-ietf-quic-http.md
Labels: -http, editorial

#3889 No RTT samples, no persistent congestion
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3861 change error to PROTOCOL_VIOLATION when receiving an invalid RCID frame
  draft-ietf-quic-transport.md
Labels: -transport, design

#3864 3x amplification limit for CONNECTION_CLOSE
  draft-ietf-quic-transport.md
Labels: -transport, design

#3785 Version field <-> Version is not invariant
  draft-ietf-quic-invariants.md
Labels: -invariants, design

#3930 Require coalesced packets to have the same connection ID
  draft-ietf-quic-transport.md
Labels: -transport, design

#3924 May use 64+bit CIDs as address validation
  draft-ietf-quic-transport.md
Labels: -transport, design

#3959 When is the PTO armed from?
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3971 Clarify ACK Delay and reference host-delay
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3973 Transport Parameters are not APLN Specific
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3868 Prohibit reading 1-RTT before handshake complete
  draft-ietf-quic-tls.md
Labels: -tls, design

#3968 CongestionEvent -> OnCongestionEvent
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial
