Repository quicwg/base-drafts, pull requests merged in 2020-08, with the labels that each got.

#3963 n't -> not
  draft-ietf-quic-http.md
  draft-ietf-quic-invariants.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: editorial

#3859 Error for frames in the wrong packet
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3900 Be clearer about protections
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, editorial

#3986 More words on the minimum packet size requirement
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3953 Application can reset stream or close connection even if no error occurs.
  draft-ietf-quic-http.md
Labels: -http, editorial

#3985 Strike confusing paragraph
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3926 Rearrange discussion of cancellation and rejection
  draft-ietf-quic-http.md
Labels: -http, editorial

#3925 Rework flow of Push ID
  draft-ietf-quic-http.md
Labels: -http, editorial

#3942 Editorial nits for HTTP
  draft-ietf-quic-http.md
Labels: -http, editorial

#3983 Two idle timeout corrections
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3966 Reword the double-contained
  draft-ietf-quic-http.md
Labels: -http, editorial

#3994 Make frame format introductions consistent
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3979 Make the ack-tracking examplary
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3984 Spin bit is path-bound
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4008 QPACK SC: No encoder memory for blocked
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4012 Remove indent from all pseudocode
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4007 Nits on QPACK
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4002 Use FRAME_ENCODING_ERROR for stream limits >2^60
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4006 Cite the second reason bytes_in_flight might exceed CWND
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4031 MUST not => MUST NOT
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4033 Absent means not provided
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4032 More context for "flow control violation"
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4034 And rtt estimate
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4003 Split conditions for Initial CONNECTION_CLOSE
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4042 Less confusing "in order to"
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4044 Not UDP packets
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4036 "don't delay" for PATH_RESPONSE
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4046 Use handshake confirmation in recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4015 Field Terminology in QPACK Security Considerations
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4053 SHOULD NOT attempt to parse -> unlikely to be able
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4049 Tokens go in all Initial packets after Retry
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3938 Fixing max_ack_delay
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4016 Fix some of the nits in #3214
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4048 Retry is allowed if the token comes from NEW_TOKEN
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3988 Closing and draining tidy
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4054 Handle unset Maximum Push ID
  draft-ietf-quic-http.md
Labels: -http, editorial

#4060 http editorial fix: Fix the value of MAX_PUSH_ID Frame Type
  draft-ietf-quic-http.md
Labels: -http, editorial

#4058 More exposition for VN elicitation by padding
  draft-ietf-quic-transport.md
Labels: -transport, editorial
