Repository quicwg/base-drafts, pull requests merged in 2020-09, with the labels that each got.

#3945 Word-smithed version of Ted's resolution to #3842 from the mailing list
  draft-ietf-quic-transport.md
Labels: -transport, design

#3874 Behavior around key availability delays during handshake
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -recovery, -tls, design

#3998 Update initial congestion window on MTU decrease
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3975 Resetting min_rtt
  draft-ietf-quic-recovery.md
Labels: -recovery

#3961 Rework section on persistent congestion
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3936 sender MUST limit bursts, SHOULD limit to IW
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3978 Add some MUSTs to congestion control
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#4000 Out of order relative to other ack-eliciting packets
  draft-ietf-quic-transport.md
Labels: -transport, design

#3993 MUST connection error
  draft-ietf-quic-http.md
Labels: -http, design

#3957 Don't retransmit lost packets that are acked later
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -transport, design

#3955 Clarify HTTP/2 setting parameter reservation
  draft-ietf-quic-http.md
Labels: -http, design

#3935 No normative language for connection/stream operations
  draft-ietf-quic-transport.md
Labels: -transport, design

#3789 Expand AEAD limits to consider multi-user security.
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, design

#3949 Fix spelling and style consistency nits
  draft-ietf-quic-http.md
Labels: -http, editorial

#3990 Let server abort on post-Retry packet number reset
  draft-ietf-quic-transport.md
Labels: -transport, design

#4068 Path validation is not return reachability
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4005 Attempt to define slow start/congestion avoidance
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4075 Expand IV on first occurrence
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4055 State machine for CC
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4077 fixing a fig of recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3996 Document request forgery
  draft-ietf-quic-transport.md
Labels: -transport, design

#4074 All H3 frames are flow controlled
  draft-ietf-quic-http.md
Labels: -http, editorial

#4062 fix dangling ref to HTTP11
  draft-ietf-quic-http.md
Labels: -http, editorial

#3914 Acks for 0rtt only after Handshake Complete as in Quic-TLS 4.1.1
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4011 Describe inputs to TLS more clearly
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4080 Pseudocode for persistent congestion is too hard
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4082 Add a text for alternative approach for congestion avoidance cwnd growth
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4081 [qpack] remove nameIndex from pseudocode
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4084 Three times PTOs allows PTO to expire
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4083 Changelogs for -30
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -http, -qpack, -recovery, -tls, -transport, editorial

#4085 A few of gorry's nits
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4091 Clarify why PTOs in idle timeout period
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4089 Remove recommendation to not include tokens
  draft-ietf-quic-transport.md
Labels: -transport, design

#4092 Another try
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4095 Restore missing field
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4098 Clarify how packet number is encoded before ACK is received
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4059 Gorry's ECN rewrite
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4105 Move security requirement to push section
  draft-ietf-quic-http.md
Labels: -http, editorial

#4106 Nits in TLS Section 5.7
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4115 Cite the RFC for DPLPMTUD
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4110 multiple editorial nits in Section 5 (Connection ID)
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4121 Fix idnits
  draft-ietf-quic-http.md
Labels: -tls, editorial

#4127 RFC7301 is cited twice
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4111 multiple editorial nits in Section 4 (Flow Control)
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4131 fix incorrect statement about varint usage
  draft-ietf-quic-transport.md
Labels: -transport

#4102 Clarify path validation and connection migration
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4113 multiple editorial nits in Section 7 (Cryptographic and Transport Handshake)
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4104 Add warning about request forgery and client-side migration. Fixes #4086
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4096 Update samples for -31, no salt change
  draft-ietf-quic-tls.md
  protection-samples.js
Labels: -tls, editorial

#4114 RACK specifies a slightly larger time threshold
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4129 minor editorial nits in Section 10 (Connection Termination)
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4128 minor editorial nits in Section 8 (Address Validation)
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4133 Cut the loopback examples
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4134 Acknowledge Kazu Yamamoto for recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4135 Ack Mirja in recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4139 Rephrase and highlight.
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#4093 QPACK: add examples
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4136 Replace frame mapping text by ref. to tp draft.
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, editorial

#4116 Editorial pass, part 1
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4117 Editorial pass, part 2
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4142 Migration can be unpermitted
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4151 Editorial nits, as suggested by Gorry
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4150 ECN is validated
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -recovery, -transport, editorial

#4148 Replace padding with PADDING Frame
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4155 TLS: improve check for unconsumed data on encryption level changes
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4154 remove duplicate paragraphs about CID validation
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4156 minor editorial nits in TLS section 4 (Carrying TLS Messages)
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4153 minor editorial nits in section 19 (Frame Types and Formats)
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4100 Use TP error for invalid TP
  draft-ietf-quic-transport.md
Labels: -transport, design

#4088 Fix conflicting error codes
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, design

#4160 Validate ECN for up to 3 PTO
  draft-ietf-quic-transport.md
Labels: -transport

#4157 Cite actual BCP 38
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4152 Reorder invariants
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#4161 One more reference that could use a semicolon
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#4162 Not use, observe
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#4159 for which not which ... for
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#4163 "With Literal Name" instead of "Without Name Reference"
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4158 Update TLS reference
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4166 Remove unnecessary clarifications from pacing text
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4164 Changelog for -31
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#4165 New transport parameters and 0-RTT
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4149 Stream fragmentation attack clarifications
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4167 QUIC transport does not have stream level errors
  draft-ietf-quic-transport.md
Labels: -transport

#4168 Add Lars to acknowledgments
  draft-ietf-quic-transport.md
Labels: -transport, editorial
