Repository quicwg/base-drafts, pull requests merged in 2020-06, with the labels that each got.

#3708 Stateless reset nits
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3706 Add more context and text around ACK frequency
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3714 Narrow allowed CONNECTION_CLOSE in Initial/Handshake
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3718 Restore yet another missing period
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3719 Fix another reference format
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3712 Example of ChaCha20-Poly1305
  draft-ietf-quic-tls.md
  protection-samples.js
Labels: -tls, editorial

#3728 Add missing Length field to header protection example.
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3727 Don't use sequence number except for CID
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3726 Use 'message' less
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3732 Minor editorializing of CID authentication
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3634 Describe error handling of GOAWAY ID increase
  draft-ietf-quic-http.md
Labels: -http, design

#3700 Servers should always send CANCEL_PUSH
  draft-ietf-quic-http.md
Labels: -http, editorial

#3710 Promote section 3.1 to its own section
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -recovery, editorial

#3691 use TRANSPORT_PARAMETER_ERROR when authenticating connection IDs
  draft-ietf-quic-transport.md
Labels: -transport, design

#3702 DPLPMTU merge tweaks
  draft-ietf-quic-transport.md
Labels: -transport, design

#3620 Define an anti-forgery limit
  draft-ietf-quic-tls.md
Labels: -tls, design

#3670 Scope of disable_active_migration
  draft-ietf-quic-transport.md
Labels: -transport, design

#3669 ECN probing needs to imply that you stop
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3743 Cross reference packet size section
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3744 Include pictures for empty frames too
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3741 Move recommendation from the note into mainline
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3740 Remove "bundle" terminology
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3742 First set of Gorry's nits
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3747 ECN validation nits
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3739 Why do we have final size?
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3730 Gorrys invariant nits
  draft-ietf-quic-invariants.md
  draft-ietf-quic-transport.md
Labels: -invariants, editorial

#3746 A section devoted to Initial packet size
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3711 Update Initial salt, Retry keys, and samples for -29
  draft-ietf-quic-tls.md
  protection-samples.js
Labels: -tls, editorial

#3689 Improve HTTP draft wording: frames carry identifier values
  draft-ietf-quic-http.md
Labels: -http, editorial

#3745 Make keep-alive advice more generic
  draft-ietf-quic-http.md
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3749 Changelogs for -29
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#3754 transport: use "CONNECTION_REFUSED" consistently
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3759 Use the same spelling of "trade-off" in two places
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3751 Fixes for the "packets" column
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3764 Reword sentence on resource allocation
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3760 Make usage of "out of order" and "out-of-order" consistent
  draft-ietf-quic-http.md
  draft-ietf-quic-transport.md
Labels: -http, -transport, editorial

#3761 qpack: missing brackets around reference
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3757 http: no ABNF
  draft-ietf-quic-http.md
Labels: -http, editorial

#3752 Update Initial salt, Retry keys, and samples (#3711) to changelog
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3766 QUIC flow control is not quite like HTTP/2
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3769 Remove redundant requirement
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3772 Invariant nits
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#3770 Second set of editorial nits
  draft-ietf-quic-transport.md
Labels: editorial

#3776 Frame special rules
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3777 Make language in ECN validation clearer
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3756 Mention every Transport Parameter in section on values for 0-RTT
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3775 Use handshake bytes more consistently
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3796 Stop using CID acronym
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3786 Packets might be integrity protected
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#3783 Encryption level of CRYPTO determines packet type
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3795 Update pseudocode references to removed function DetectLostPackets
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3753 Use plausible TLS messages
  draft-ietf-quic-tls.md
  protection-samples.js
Labels: -tls, editorial

#3791 Roy's suggestion for multiplexing justification
  draft-ietf-quic-http.md
Labels: -http, editorial
