Repository quicwg/base-drafts, pull requests merged in 2020-01, with the labels that each got.

#3319 Caption all the figures
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3318 TLS: update xref to HTTP/3
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3296 Clarify conditions for disabling spin bit
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3312 What if an ACK frame doesn't fit in a packet
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3313 ACK frames PN space editorial
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3322 Add in before {{version-negotiation}}
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3321 Packet matching for zero-length connection IDs
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2919 MinRTT for the path
  draft-ietf-quic-recovery.md
Labels: -recovery

#3331 Unknown error codes are equivalent to NO_ERROR
  draft-ietf-quic-http.md
Labels: -http

#3302 Use semi-colon instead of (see {{foo}})
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3342 Fix references to key discard section of -tls
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -recovery, -transport, editorial

#3338 GOAWAY means no more
  draft-ietf-quic-http.md
Labels: -http

#3344 Think carefully before blowing up
  draft-ietf-quic-http.md
Labels: -http, editorial

#3120 Add retry integrity tag
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, design

#3248 Fix congestion control permissiveness
  draft-ietf-quic-recovery.md
Labels: -recovery

#3287 Keep RFC6928 informative
  draft-ietf-quic-recovery.md
Labels: -recovery

#3280 Prohibit IP fragmentation
  draft-ietf-quic-transport.md
Labels: -transport, design

#3150 Clarify the state a client stores with a token
  draft-ietf-quic-transport.md
Labels: -transport

#3145 use a HANDSHAKE_DONE frame to drive the handshake to confirmation
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, design

#3343 GOAWAY initiating a graceful shutdown can carry a huge stream ID
  draft-ietf-quic-http.md
Labels: -http, editorial

#3358 Don't specify RTT in HTTP
  draft-ietf-quic-http.md
Labels: -http, editorial

#3266 Prevent Idle Timeout while Blocked
  draft-ietf-quic-transport.md
Labels: -transport, design

#3099 Change idle_timeout to max_idle_timeout
  draft-ietf-quic-transport.md
Labels: -transport, design

#3368 Use the one true reference format
  draft-ietf-quic-http.md
Labels: -http, editorial

#3369 Move out-of-order packets definition
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -recovery, -transport, editorial

#3359 Push association
  draft-ietf-quic-http.md
Labels: -http, editorial

#3365 for Retry integrity protection, use values that can be derived from AEAD API
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3283 Contributors for -transport and -tls
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, editorial

#3306 Contributors list for -recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3371 Fix section references to DPLPMTUD
  draft-ietf-quic-transport.md
Labels: -transport

#3356 Intentional delay since the largest acknowledged
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3370 Changelogs for draft-25
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#3175 Compare indices to the _value of the_ base.
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3360 Grease HTTP error codes
  draft-ietf-quic-http.md
Labels: -http, editorial

#3320 An example ECN validation algorithm
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#2925 Add initial threat model to security considerations
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3379 Fix two instances of "between when" in the transport draft
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3375 Improve readility of a sentence in the transport draft
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3377 Fix sentence describing the Packets column in Table 3
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3376 Drop unnecessary indefinite article
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3386 Add HANDSHAKE_DONE to list of frames ineligible for 0-RTT
  draft-ietf-quic-tls.md
Labels: -transport, editorial

#3381 editorial: Remove ACK-only (recovery)
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3385 nit: brackets for section reference (recovery)
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3382 editorial: split long sentence (recovery)
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3383 editorial: This sentence was hard to parse for me (recovery)
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3394 Add sample Retry packet
  draft-ietf-quic-tls.md
  protection-samples.js
Labels: -tls, editorial
