Repository quicwg/base-drafts, pull requests merged in 2020-05, with the labels that each got.

#3615 Alternative for simple routing section
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3606 DPLPMTUD fixes
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3611 Bullet points in Transport Contributors
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3604 Update pseudocode to not arm PTO..
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3621 Use a list for TLS contributors too
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3618 recovery: fix broken reference to TLS, "Discarding Initial Keys"
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3625 [HTTP/3] Merge two redundant paragraphs on frame ordering.
  draft-ietf-quic-http.md
Labels: -http, editorial

#3617 Scrub for backticks
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#3612 Initial Contributors for HTTP
  draft-ietf-quic-http.md
Labels: -http, editorial

#3602 editorial advice for h2<->h3 error propagation
  draft-ietf-quic-http.md
Labels: -http, editorial

#3603 Clarify anti-deadlock Handshake PTO
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3601 Define the use of generic TLS alerts
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3586 Why min CWND of 2 instead of 1
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3629 Use Section not section
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3628 Quoting in recovery
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3627 [qpack] Remove backticks
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3575 QPACK security considerations
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3636 Text/figure consistency
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#3637 redrawing handshake figures in ascending encryption-level order.
  draft-ietf-quic-transport.md
Labels: -tls, editorial

#3641 Consistency for VN, too
  draft-ietf-quic-invariants.md
  draft-ietf-quic-transport.md
Labels: -invariants, -transport, editorial

#3642 Minor errors in new diagrams
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3645 Restore missing Length fields in long packet headers
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3646 Another diagram discrepancy
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3644 One more semicolon
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3647 Restore missing period on rttvar definition
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3650 s/alarm/timer/
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3640 Limit sending by the anti-amplification factor
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3572 Adaptive thresholds are useful
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3654 Move a PTO section up
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3651 Include max_udp_payload_size in packet size discussion
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3563 Migration with zero-length CID is inadvisable
  draft-ietf-quic-transport.md
Labels: -transport, design

#3565 Forbid zero-length connection ID with preferred addresses
  draft-ietf-quic-transport.md
Labels: -transport, design

#3595 Prohibit TLS 1.3 middlebox compatibility mode
  draft-ietf-quic-tls.md
Labels: -tls, design

#3658 Fix two typos in the transport draft
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3426 Clarify zero-length CIDs and active_connection_id_limit TP
  draft-ietf-quic-transport.md
Labels: -transport, design

#3589 Clarify text around preferred address
  draft-ietf-quic-transport.md
Labels: -transport

#3547 Limit RCID state
  draft-ietf-quic-transport.md
Labels: -transport

#3643 Exception for Retire Prior To
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3499 Authenticate connection IDs
  draft-ietf-quic-transport.md
Labels: -transport, design

#3630 A pacing algorithm
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3657 Fix verb number and a typo in the QPACK draft
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3653 Add OnPacketReceived to pseudocode
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3668 Changelog for -28
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#3663 Update examples for -28
  draft-ietf-quic-tls.md
  protection-samples.js
Labels: -tls, editorial

#3577 [qpack] Overhaul the pseudocode
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3665 Clarify when the PTO may need to be recomputed and reset
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3672 Arrival-after-cancel is a general principle
  draft-ietf-quic-http.md
Labels: -http, editorial

#3520 Core terminology in QPACK
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3675 transport: fix broken link to tls
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3676 tls: fix broken reference to -transport
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3678 Remove superfluous word
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3679 Fix noun/verb number agreement in the transport draft
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3680 Fix typo in transport draft: s/the the/the/
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3683 Correct reference for authority-form
  draft-ietf-quic-http.md
Labels: -http, editorial

#3685 Add an example of a variable-length integer field
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3688 Add #3527 to transport's "Since ID-27" changelog
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3686 Forgeries likely exhaust TWO keys
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3684 Invariant independent
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#3696 Better duplicate detection
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3697 Citation rules for QUIC
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3694 rename SERVER_BUSY to CONNECTION_REFUSED
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3705 Fix pseudocode typo in OnPacketNumberSpaceDiscarded().
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3664 Move MUST not send bursts up in the pacing section
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3681 Split PTO calculation into a dedicated method
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial
