Repository quicwg/base-drafts, pull requests merged in 2020-04, with the labels that each got.

#3540 Notify the congestion controller of losses first
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3556 If PTO is armed for anti-deadlock, use now()
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3574 Fix reference to RFC5682
  draft-ietf-quic-recovery.md
Labels: editorial

#3569 Kramdown usage updates
  draft-ietf-quic-http.md
  draft-ietf-quic-invariants.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: editorial

#3568 Remove dead note from header protection section
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3525 eliminate the difference between when having no RTT sample and having one
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3551 Do not reset pto_count on Initial ACKs
  draft-ietf-quic-recovery.md
Labels: -recovery, design

#3557 Note that state needs to be maintained for each issued CID if the peer chooses to use it
  draft-ietf-quic-transport.md
Labels: -transport, design

#3533 Limit connection drops from Version Negotiation
  draft-ietf-quic-transport.md
Labels: -transport, design

#3545 Don't remember the ACK delay
  draft-ietf-quic-transport.md
Labels: -transport, design

#3584 Consistent naming for _BLOCKED fields
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3558 Authoritative access in HTTP/3
  draft-ietf-quic-http.md
Labels: -http, design

#3578 [qpack] Fix example
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3573 Alternative packet format presentation
  draft-ietf-quic-http.md
  draft-ietf-quic-invariants.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3591 Choose between semicolons and parenthesis
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3570 Add subsections to Retry packet section
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3587 Describe what happens if TLS breaks
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3566 Text on session resumption
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#3593 Change one stray HTTP_NO_ERROR to H3_NO_ERROR.
  draft-ietf-quic-http.md
Labels: -http, editorial

#3576 [qpack] Add comment explaining static table
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#3599 Version greasing rewrite
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3597 The peer only has 1 key, so PTO both
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#3600 Rationale for NEW_CONNECTION_ID processing order
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3590 MUST verify => MUST NOT accept on fail
  draft-ietf-quic-http.md
Labels: -http, editorial

#3588 Clarifications for preferred_address
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3581 More detail regarding dropping of ACK Ranges
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#3610 [HTTP3] Clarify reserved values.
  draft-ietf-quic-http.md
Labels: -http, editorial

#3607 Moar semicolons
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: editorial

#3536 5tuple routing
  draft-ietf-quic-transport.md
Labels: -transport
