Repository quicwg/base-drafts, pull requests merged in 2020-11, with the labels that each got.

#4263 Stop using initial timeout
  draft-ietf-quic-recovery.md
  draft-ietf-quic-transport.md
Labels: -recovery, -transport, editorial

#4313 Add a definition for "frame"
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4327 Packets and datagrams and packets
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4315 Packet number encoding appendix
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4316 VarInt decoding pseudocode
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4319 Move spin bit explanation to beginning of section
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4320 Reorder and introduce Security Considerations
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4321 Establish normative force more directly.
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#4328 Code components
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4318 State CS-PRNG requirements
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4331 Add an error code for when the path fails
  draft-ietf-quic-transport.md
Labels: -transport, design

#4337 Use brackets for empty arrays
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4334 Correctly cite Section 9.5 of -tls
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4338 The AEAD also prevents modification
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4340 Loss epoch wording
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4344 ODCID is a special for validating the server address
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4335 A zero-length connection ID is always good
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4329 Restructure the abstract and overview
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4330 Generalize handshake path validation
  draft-ietf-quic-transport.md
Labels: -transport

#4390 It's PROTOCOL_VIOLATION
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4383 Gen-Art Review: Improve HTTP terminology and references
  draft-ietf-quic-http.md
Labels: -http

#4391 Packets can't be zero-length
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4359 Discarding an invalid Initial is allowed
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4360 Stop using "may"
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4381 transport 19.7: better wordings for new_token
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4389 Reserve just one value for standards action
  draft-ietf-quic-transport.md
Labels: -transport, design

#4398 [editorial] packets aren't number space
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4403 Clarify labels example in -tls Appendix A.1.
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4396 minimum valid packet size is an example
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4392 Registry heading
  draft-ietf-quic-http.md
Labels: -http, editorial

#4406 Make figure match actual packet layout
  draft-ietf-quic-transport.md
Labels: -transport, editorial
