Repository quicwg/base-drafts, pull requests merged in 2021-01, with the labels that each got.

#4474 Editorial suggestions
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#4470 Make invariants reference normative in transport
  draft-ietf-quic-transport.md
Labels: -transport

#4462 Clarify definition of off-path
  draft-ietf-quic-invariants.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -invariants, -tls, -transport, editorial

#4581 This "this" was just confusing
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4584 Drop the plural
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4585 Restore missing 'in'
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4574 STOP_SENDING carries information too
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4582 The 1200 byte thing limits space for extensions
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4583 Merge ECN text in Section 7
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4603 We don't need to give permission, it's just not an error
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4604 Be more precise about "once completed"
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4601 Make the abstract more definitive
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#4602 Use SHOULD .. can rather than MAY
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4682 Server processing packets on IP change: editorial
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4575 Transport calls these 4 bits Unused
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4572 Normative language for sampling ciphertext
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4605 Explain how long Retry tokens need to be valid
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4587 Say that this version is 1
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4580 Reword unpadded PATH_CHALLENGE language
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4683 Stateless reset just needs a PRF
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4684 Explain why the fixed bit exists...ish
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4586 Explain why multiple connection IDs
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4681 Large enough is large enough
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4634 NEW_TOKEN and Retry tokens already need to be distinguished
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4629 Clients don't need permission to discard NEW_TOKEN
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4628 Pacing moved from 6.9 to 7.7 in recovery
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4627 Remove Peer Creates transition to Ready
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4599 Use `L` to represent any type of length
  draft-ietf-quic-invariants.md
  draft-ietf-quic-transport.md
Labels: -invariants, -transport, editorial

#4606 Hyphenate 8-byte overhead
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4600 The subject is the packet
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4579 TLS uses an empty quoted string for these
  .lint.py
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4573 Subsequent keys can be used as well as the next
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4569 Cite 14.1 of -transport for Initial padding
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4549 0-RTT is possible without prior communication
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4686 Fix number agreement in TRANSPORT_PARAMETER_ERROR
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4687 Cite Section 8.1 for use of CID for validation
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4567 This is an example for illustration purposes
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4561 Two fixes for issue 4480
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4568 Add Handshake Confirmed to the TLS interface
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4553 It is important to agree on who authenticates
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4688 Use established terminology
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4571 Define Context and Length inputs to HKDF-Expand-Label
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4690 As Murray says, it just ends
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4578 The note about AEAD limits is not needed
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4598 Reference more TCP RFCs
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4596 Reference RACK and TLP in recovery section 4.7
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4695 Two hyphenation fixes
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -tls, -transport, editorial

#4717 Tweak for clarity
  draft-ietf-quic-transport.md
Labels: -transport, editorial, iesg

#4705 I don't know how to hyphenate packet type specific
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4720 PATH_RESPONSE can't occur in 0-RTT
  draft-ietf-quic-transport.md
Labels: -transport, iesg

#4704 A minimum-length varint encoding is not mandatory
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4703 a stream, not any stream
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4702 Reorder bidi clause for Recv
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4701 The application reads the Reset not the RST
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4699 RFC 4086 can be an informative reference
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4700 More words about which state machine where
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4463 Transport parameters can be used before they are authentic
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4576 Explain TLS/QUIC key update differences
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4577 Rewrite text on timing leaks for key generation
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4626 Ellipsis refers to zero or more occurences
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4692 Disable spin bit for greater anonymity set
  draft-ietf-quic-transport.md
Labels: -transport, editorial, iesg

#4694 Relationship of payload and length
  draft-ietf-quic-tls.md
Labels: -tls, editorial, iesg

#4697 Update discussion of Version Negotiation
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4693 Restructure both three things
  draft-ietf-quic-tls.md
Labels: -tls, editorial, iesg

#4721 Tidy up "sending version negotiation packets"
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4691 Spin bit: Not implemented == disabled
  draft-ietf-quic-transport.md
Labels: -transport, iesg

#4722 Reason phrase might be incomprehensible
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4597 Editorial suggestions from Benjamin Kaduk (transport)
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4723 Finesse relationship of resumption and 0-RTT
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4719 Flow control intro sentence
  draft-ietf-quic-transport.md
Labels: -transport, editorial, iesg

#4718 Taken from, not defined in
  draft-ietf-quic-invariants.md
Labels: -invariants, editorial

#4727 Two small tweaks to connection IDs
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4726 Reword flow label generation to avoid restating RFC 6437
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4732 XOR, not exponentitiation
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4728 Remove redundant sentence about PTO response
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4737 More precise reference
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4733 Condition deployment recommendation on BCP 38
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4735 Move HANDSHAKE_DONE requirement up
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4724 min_rtt is not over entire connection
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4698 Use the term content instead of payload data for the message octet stream
  draft-ietf-quic-http.md
Labels: -http, editorial

#4725 A new IP
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4736 Not unauthenticated, but those that cannot be processed
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4734 PTO is restarted on handshake confirmation
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4739 Padding with invalid packets
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4707 Only reserve the first unassigned codepoint
  draft-ietf-quic-transport.md
Labels: -transport, design

#4740 Clarify how the initial CWND is limited
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4741 Allow for VN in description of fixed bit
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4685 Editorial suggestions from Benjamin Kaduk (recovery)
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4696 Remove routing recommendation
  draft-ietf-quic-transport.md
Labels: -transport, design

#4689 The transport parameter removes EOED
  draft-ietf-quic-tls.md
Labels: -tls, design

#4570 Closure alerts are errors too
  draft-ietf-quic-tls.md
Labels: -tls, design

#4744 Explain the fixed bit recommendation for Version Negotiation
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4742 http: update for http-core -14 moved sections
  draft-ietf-quic-http.md
Labels: -http, editorial

#4762 Éric Vyncke's HTTP/3 Comments
  draft-ietf-quic-http.md
Labels: -http, editorial, iesg

#4814 Abort response stream
  draft-ietf-quic-http.md
Labels: -http, editorial

#4813 Robert Wilton's HTTP/3 comments
  draft-ietf-quic-http.md
Labels: -http, editorial, iesg

#4812 s/URL/URI/
  draft-ietf-quic-http.md
Labels: -http, editorial

#4811 Which HTTP/2 settings must be rejected?
  draft-ietf-quic-http.md
Labels: -http, editorial

#4750 Martin Duke's QPACK comments
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial, iesg

#4808 Rework HTTP authority/coalescing again
  draft-ietf-quic-http.md
Labels: -http, design, iesg
