Repository quicwg/base-drafts, pull requests merged in 2021-03, with the labels that each got.

#4835 Updated flow control limits apply to 0-RTT streams
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4840 Change packet number encoding example
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4843 Application-Layer, not Application Layer
  draft-ietf-quic-http.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -http, -tls, -transport, editorial

#4845 QPACK IANA details
  draft-ietf-quic-qpack.md
Labels: -qpack, editorial

#4787 Reference "Loss Detection and Congestion Control"
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4844 Pad hex literals to byte lengths
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -http, -qpack, -tls, -transport, editorial

#4831 Execute the PTO alarm immediately if in the past
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4848 Use ACK-eliciting packets in flight to identify anti-deadlock probes
  draft-ietf-quic-recovery.md
Labels: -recovery, editorial

#4852 Cite receive stream section for receipt of MAX_*
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4851 Pad hex literals, continued
  draft-ietf-quic-http.md
  draft-ietf-quic-qpack.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -http, -qpack, -tls, -transport, editorial
