Repository quicwg/base-drafts, pull requests merged in 2021-02, with the labels that each got.

#4819 Talk about streams, not STREAMs
  draft-ietf-quic-http.md
Labels: -http, editorial

#4823 Implementations have limits
  draft-ietf-quic-qpack.md
Labels: -qpack, design

#4821 TLS doesn't have to pad
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4799 No CIDs, No Sending
  draft-ietf-quic-transport.md
Labels: -transport, editorial

#4822 Use `<sup>` for exponentiation
  draft-ietf-quic-http.md
  draft-ietf-quic-tls.md
  draft-ietf-quic-transport.md
Labels: -http, -tls, -transport, editorial

#4825 Missed a superscript opportunity
  draft-ietf-quic-tls.md
Labels: -tls, editorial

#4829 If client detects error
  draft-ietf-quic-http.md
Labels: -http, editorial
